﻿
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Командна табла</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-book fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.NaCitanju</div>
                        <div>На читању</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "OnReading", new { area = "Admin" })">
                <div class="panel-footer">
                    <span class="pull-left">Погледај</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.Rezervacije</div>
                        <div>Активне резервације</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Active", "Reservation", new { area = "Admin" })">
                <div class="panel-footer">
                    <span class="pull-left">Погледај</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-exclamation-circle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.Kasni</div>
                        <div>Кашнења</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Late", "OnReading", new { area = "Admin" })">
                <div class="panel-footer">
                    <span class="pull-left">Погледај</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.Prijave</div>
                        <div>Пријавe</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Reported", "Comment", new { area = "Admin" })">
                <div class="panel-footer">
                    <span class="pull-left">Погледај</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Претрага примерка</h1>
    </div>
</div>

@using (Html.BeginForm("Search", "Copy", FormMethod.Get, new { @class = "search-form" }))
{
    <div class="col-md-7 form-group row search-div-container">
        @Html.Label("Наслов:", new { @class = "col-md-4 form-control-lable" })
        <div class="col-md-8">
            @Html.TextBox("naziv", "", new { @class = "form-control", @placeholder = "На Дрини ћуприја", @type = "search" })
        </div>
    </div>

    <div class="col-md-7 form-group row">
        @Html.Label("Инвентарски број:", new { @class = "col-md-4 form-control-lable" })
        <div class="col-md-8">
            @Html.TextBox("invbr", "", new { @class = "form-control", @placeholder = "123456", @type = "search" })
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="col-md-7 form-group row">
        @Html.Label("Бар код:", new { @class = "col-md-4 form-control-lable" })
        <div class="col-md-8">
            @Html.TextBox("barkod", "", new { @class = "form-control", @placeholder = "a1B23c", @type = "search" })
        </div>
    </div>
    <div style="clear:both;"></div>
    <button type="submit" class="btn btn-default">Претрага</button>
}



