﻿@model SkolskaBibliotekaDBContext.Komentar

@{
    ViewBag.Title = "Коментар - Брисање";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Коментар - Брисање</h1>
    </div>
</div>

<h3>Да ли сте сигурни да желите да обришете овај коментар?</h3>
<div>
    <h4>Komentar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Knjiga.UDK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knjiga.UDK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Korisnik.MaticniBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik.MaticniBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VremeKomentara)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VremeKomentara)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteDown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteDown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KomentarText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KomentarText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reported)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reported)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Обриши" class="btn btn-default" /> |
            @Html.ActionLink("Назад на листу", "Index")
        </div>
    }
</div>
