﻿@model SkolskaBibliotekaDBContext.Komentar

@{
    ViewBag.Title = "Коментар - Детаљи";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Коментар - Детаљи</h1>
    </div>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Knjiga.UDK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knjiga.UDK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Korisnik.MaticniBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik.MaticniBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VremeKomentara)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VremeKomentara)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteDown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteDown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KomentarText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KomentarText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reported)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reported)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Измени", "Edit", new { id = Model.KomentarID }) |
    @Html.ActionLink("Назад на листу", "Index")
</p>
