﻿@model IEnumerable<SkolskaBibliotekaDBContext.Komentar>

@{
    ViewBag.Title = "Коментари";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Коментари</h1>
    </div>
</div>
<div style="overflow:auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KnjigaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KomentarText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VremeKomentara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteDown)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reported)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Book", new { area = "Admin", id = item.KnjigaID })">
                        @Html.DisplayFor(modelItem => item.KnjigaID)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "User", new { area = "Admin", id = item.KorisnikID })">
                        @Html.DisplayFor(modelItem => item.Korisnik.Username)
                    </a>
                </td>
                <td>
                    <span title="@item.KomentarText">...</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VremeKomentara)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoteUp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoteDown)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reported)
                </td>
                <td>
                    @Html.ActionLink("Измени", "Edit", "Comment", new { id = item.KomentarID }, null) |
                    @Html.ActionLink("Детаљи", "Details", "Comment", new { id = item.KomentarID }, null) |
                    @Html.ActionLink("Обриши", "Delete", "Comment", new { id = item.KomentarID }, null)
                </td>
            </tr>
        }

    </table>
    </div>
    @if (ViewBag.PageCount != null)
    {
        <nav>
            <ul class="pagination">
                <li class="@((ViewBag.HasPrevious) ? "" : "disabled")">
                    <a href="@Url.Action("Details", "Comment", new { area = "Admin" })?p=@(ViewBag.PageNumber-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (var i = 1; i <= ViewBag.PageCount; i++)
                {
                    if (ViewBag.PageNumber == i)
                    {
                        <li class="active"><a href="@Url.Action("Details", "Comment", new { area = "Admin" })?p=@i">@i <span class="sr-only">(current)</span></a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Details", "Comment", new { area = "Admin" })?p=@i">@i</a></li>
                    }
                }
                <li class="@((ViewBag.HasNext) ? "" : "disabled")">
                    <a href="@Url.Action("Details", "Comment", new { area = "Admin" })?p=@(ViewBag.PageNumber-1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
