﻿@model IEnumerable<SkolskaBibliotekaDBContext.PrijavaKomentara>

@{
    ViewBag.Title = "Пријављени коментари";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Пријављени коментари</h1>
    </div>
</div>

<div style="overflow:auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Komentar.KomentarText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tekst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VremePrijave)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Komentar.KomentarText)
                </td>
                <td>
                    <a href="@Url.Action("Details", "User", new { area = "Admin", id = item.KorisnikId })">
                        @Html.DisplayFor(modelItem => item.Korisnik.Username)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tekst)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VremePrijave)
                </td>
                <td>
                    @Html.ActionLink("Измени", "Edit", new { id = item.KomentarId }) |
                    @Html.ActionLink("Детаљи", "Details", new { id = item.KomentarId }) |
                    @Html.ActionLink("Обриши", "Delete", new { id = item.KomentarId })
                </td>
            </tr>
        }

    </table>
</div>
<nav>
    <ul class="pagination">
        <li class="@((ViewBag.HasPrevious) ? "" : "disabled")">
            <a href="@Url.Action("Reported", "Comment", new { area = "Admin" })?p=@(ViewBag.PageNumber-1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (var i = 1; i <= ViewBag.PageCount; i++)
            {
                if (ViewBag.PageNumber == i)
                {
                <li class="active"><a href="@Url.Action("Reported", "Comment", new { area = "Admin" })?p=@i">@i <span class="sr-only">(current)</span></a></li>
            }
            else
            {
                <li><a href="@Url.Action("Reported", "Comment", new { area = "Admin" })?p=@i">@i</a></li>
            }
        }
        <li class="@((ViewBag.HasNext) ? "" : "disabled")">
            <a href="@Url.Action("Reported", "Comment", new { area = "Admin" })?p=@(ViewBag.PageNumber-1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
