﻿@model IEnumerable<SkolskaBibliotekaDBContext.Na_Citanju>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">На читању</h1>
    </div>
</div>
<div style="overflow:auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KorisnikID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Primerak.InventarskiBroj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumUzimanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumVracanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RokZaVracanje)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            string klasa = "";
            if (item.DatumVracanja == null)
            {
                if (item.RokZaVracanje == null)
                {
                    klasa = "";
                }
                else
                {
                    if (item.RokZaVracanje < DateTime.Now)
                    {
                        klasa = "overdue";
                    }
                    else
                    {
                        if ((DateTime.Now - item.RokZaVracanje).Value.Days <= 3)
                        {
                            klasa = "almost-overdue";
                        }
                        else
                        {
                            klasa = "ontime";
                        }
                    }
                }
            }
            else
            {
                klasa = "ontime";
            }

            <tr class="@klasa">
                <td>
                    <a href="@Url.Action("Details", "User", new { area = "Admin", id = item.KorisnikID })">
                        @Html.DisplayFor(modelItem => item.Korisnik.Username)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Copy", new { area = "Admin", id = item.PrimerakID })">
                        @Html.DisplayFor(modelItem => item.Primerak.InventarskiBroj)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumUzimanja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumVracanja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RokZaVracanje)
                </td>
                <td>
                    @Html.ActionLink("Измени", "Edit", "OnReading", new { id = item.Na_CitanjuID }, null) |
                    @Html.ActionLink("Детаљи", "Details", "OnReading", new { id = item.Na_CitanjuID }, null) |
                    @Html.ActionLink("Обриши", "Delete", "OnReading", new { id = item.Na_CitanjuID }, null)
                </td>
            </tr>
        }

    </table>
    </div>