﻿@model SkolskaBibliotekaDBContext.Na_Citanju

@{
    ViewBag.Title = "На читању - Обриши";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">На читању - Обриши</h1>
    </div>
</div>

<h3>Да ли сте сигурни да желите да обришете ово?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Korisnik.MaticniBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik.MaticniBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primerak.InventarskiBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primerak.InventarskiBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumUzimanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumUzimanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumVracanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumVracanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RokZaVracanje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RokZaVracanje)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Обриши" class="btn btn-default" /> |
            @Html.ActionLink("Назад на листу", "Index")
        </div>
    }
</div>
