﻿@model SkolskaBibliotekaDBContext.Na_Citanju

@{
    ViewBag.Title = "На читању - Детаљи";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">На читању - Детаљи</h1>
    </div>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Korisnik.MaticniBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik.MaticniBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primerak.InventarskiBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primerak.InventarskiBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumUzimanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumUzimanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumVracanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumVracanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RokZaVracanje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RokZaVracanje)
        </dd>
    </dl>
</div>

@if (Model.DatumVracanja == null)
{
    using (Html.BeginForm("Return", "OnReading", FormMethod.Post))
    {
        @Html.Hidden("id", Model.Na_CitanjuID)
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><button type="submit" class="btn btn-primary">Врати књигу</button></h1>
            </div>
        </div>
    }
}

<p>
    @Html.ActionLink("Измени", "Edit", new { id = Model.Na_CitanjuID }) |
    @Html.ActionLink("Назад на листу", "Index")
</p>
