﻿@model IEnumerable<SkolskaBibliotekaDBContext.Na_Citanju>

@{
    ViewBag.Title = "На читању - Све";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">На читању - Све</h1>
    </div>
</div>

@using (Html.BeginForm("Search", "OnReading", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label for="x">Корисник</label>
        @Html.TextBox("username", "", new { @class = "form-control", @placeholder = "user213" })
    </div>
    <button type="submit" class="btn btn-default">Нађи</button>
}

<br />
<div style="overflow:auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KorisnikID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Primerak.InventarskiBroj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumUzimanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumVracanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RokZaVracanje)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            string klasa = "";
            if (item.DatumVracanja == null)
            {
                if (item.RokZaVracanje == null)
                {
                    klasa = "";
                }
                else
                {
                    if (item.RokZaVracanje < DateTime.Now)
                    {
                        klasa = "overdue";
                    }
                    else
                    {
                        if ((DateTime.Now - item.RokZaVracanje).Value.Days <= 3)
                        {
                            klasa = "almost-overdue";
                        }
                        else
                        {
                            klasa = "ontime";
                        }
                    }
                }
            }
            else
            {
                klasa = "ontime";
            }

            <tr class="@klasa">
                <td>
                    <a href="@Url.Action("Details", "User", new { area = "Admin", id = item.KorisnikID })">
                        @Html.DisplayFor(modelItem => item.Korisnik.Username)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Copy", new { area = "Admin", id = item.PrimerakID })">
                        @Html.DisplayFor(modelItem => item.Primerak.InventarskiBroj)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumUzimanja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumVracanja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RokZaVracanje)
                </td>
                <td>
                    @Html.ActionLink("Измени", "Edit", new { id = item.Na_CitanjuID }) |
                    @Html.ActionLink("Детаљи", "Details", new { id = item.Na_CitanjuID }) |
                    @Html.ActionLink("Обриши", "Delete", new { id = item.Na_CitanjuID })
                </td>
            </tr>
        }

    </table>
</div>
<nav>
    <ul class="pagination">
        <li class="@((ViewBag.HasPrevious) ? "" : "disabled")">
            <a href="@Url.Action("Index", "OnReading", new { area = "Admin" })?p=@(ViewBag.PageNumber-1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (var i = 1; i <= ViewBag.PageCount; i++)
            {
                if (ViewBag.PageNumber == i)
                {
                <li class="active"><a href="@Url.Action("Index", "OnReading", new { area = "Admin" })?p=@i">@i <span class="sr-only">(current)</span></a></li>
            }
            else
            {
                <li><a href="@Url.Action("Index", "OnReading", new { area = "Admin" })?p=@i">@i</a></li>
            }
        }
        <li class="@((ViewBag.HasNext) ? "" : "disabled")">
            <a href="@Url.Action("Index", "OnReading", new { area = "Admin" })?p=@(ViewBag.PageNumber-1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
