﻿@using SkolskaBiblioteka.ViewModels
@{
    if (Session["Korisnik"] != null)
    {
        KorisnikZaPrikaz kzp = ((KorisnikZaPrikaz)Session["Korisnik"]);
        if(kzp.AccessLevels.Count != 0)
        {
            if (kzp.AccessLevels.Min() == 7)
            {
                <a href="@Url.Action("Index", "Home", new { Area = "Admin" })">
                    <div class="admin-link-icon">
                        <span class="glyphicon glyphicon-cog"></span>
                    </div>
                </a>
            }
        }
    }
}
