﻿
@{
    ViewBag.Title = "Грешка";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/css")
@*@Scripts.Render("~/bundles/modernizr")*@
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/ico" href="~/Images/favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery-ajax")
@Scripts.Render("~/bundles/bootstrap")
<link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css" />

<div class="container">
    <h2 style="text-align:center;">@ViewBag.Error</h2>
</div>


