﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>еБ - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/ico" href="~/Images/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ajax")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css" />

    @using SkolskaBiblioteka.ViewModels;

    <script src="~/Scripts/sweetalert.min.js"></script>
</head>
<body>
    <div class="admin-link">
        @Html.Partial("_AdminLink")
    </div>

    <div class="menubar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="border-color: #95a5a6;">
                    <span class="icon-bar" style="background-color: #95a5a6;"></span>
                    <span class="icon-bar" style="background-color: #95a5a6;"></span>
                    <span class="icon-bar" style="background-color: #95a5a6;"></span>
                </button>
                <div class="home-logo">
                    <a href="@Url.Action("Index", "Home", new { Area = ""})"> <img src="~/Images/logo.png" height="40" /></a> @*Promeniti logo*@
                </div>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">

                    @if (ViewBag.Current == "Index")
                    {
                        <li class="active"><a href="@Url.Action("Index", "Home", new { Area = ""})">Почетна</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index", "Home", new { Area = ""})">Почетна</a></li>
                    }

                    @if (ViewBag.Current == "About")
                    {
                        <li class="active"><a href="@Url.Action("About", "Home", new { Area = ""})">О нама</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("About", "Home", new { Area = ""})">О нама</a></li>
                    }

                    @if (ViewBag.Current == "Search")
                    {
                        <li class="active"><a href="@Url.Action("Index", "Search", new { Area = ""})">Претрага</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index", "Search", new { Area = ""})">Претрага</a></li>
                    }

                    @Html.Partial("_LoginPartial")
                </ul>


            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <footer>
            <div class="footer-citat-back">
                @{
                    List<Citat> Citati = new List<Citat>();
                    Citati.Add(new Citat("Није ствар у томе колико књига кошта. Ствар је у томе колико тебе кошта да је не прочиташ.", "Џим Рон"));
                    Citati.Add(new Citat("Добри пријатељи, добре књиге и чиста савест: то је идеалан живот.", "Марк Твен"));
                    Citati.Add(new Citat("Читај да би живео.", "Густав Флобер"));
                    Citati.Add(new Citat("Остати равнодушан према књизи значи лакосмислено осиромашити свој живот.", "Иво Андрић"));
                    Citati.Add(new Citat("Књиге су хладни, али поуздани пријатељи.", "Сократ"));
                    Citati.Add(new Citat("Део сам сваке књиге коју сам прочитао.", "Џон Керан"));
                    Citati.Add(new Citat("Књиге су најтиши и најсталнији пријатељи. Оне су најприхватљивији и најмудрији саветници и најстрпљивији учитељи.", "Чарлс Елиот"));
                    Citati.Add(new Citat("Према мом искуству, књиге имају моћ зауставити време, вратити га у прошлост или полетети у будућност.", "Џим Бишоп"));
                    Citati.Add(new Citat("Многи људи читају, али мало је оних који знају читати.", "Варан"));

                    Random r = new Random();
                    int i = r.Next(0, 6);
                }


                <div class="footer-citat">
                    <div class="footer-citat-container">
                        <div class="footer-citat-text">@Citati[i].Text</div>
                        <div class="footer-citat-creator">- @Citati[i].Creator</div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">

                <div class="container">

                    <div class="footer-container-top">



                        <div class="footer-content">

                            <div class="footer-field">

                                <img class="footer-field-image" src="~/Images/lokacija.png" />
                                <div class="footer-field-top">ЛОКАЦИЈА</div>
                                <div class="footer-field-bottom">Александра Медведева 18, Ниш, Србија</div>

                            </div>

                            <div class="footer-field">

                                <img class="footer-field-image" src="~/Images/email.png" />
                                <div class="footer-field-top">ЕМАИЛ</div>
                                <div class="footer-field-bottom">ebib@etstesla.ni.ac.rs</div>

                            </div>

                            <div class="footer-field">

                                <img class="footer-field-image kontakt" src="~/Images/telefon.png" />
                                <div class="footer-field-top">ТЕЛЕФОН</div>
                                <div class="footer-field-bottom">018 588 583</div>

                            </div>
                            <div style="clear:both;"></div>
                        </div>

                        @*<div class="footer-navigation">
                                <div class="subtitle">Навигација</div>
                                <ul>
                                    <li><a href="@Url.Action("Index","Home")">Почетна</a></li>

                                    <li><a href="@Url.Action("About","Home")">О нама</a></li>

                                    <li><a href="@Url.Action("Index","Search")">Претрага</a></li>

                                    @if (!Request.IsAuthenticated)
                                    {
                                        <li><a href="@Url.Action("Login", "Account")">Пријава</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("Profile", "Account")">@User.Identity.Name</a></li>
                                        <li><a href="@Url.Action("Logout", "Account")">Одјава</a></li>
                                    }
                                </ul>
                            </div>

                            <div class="footer-subscribe">

                                <div class="footer-event-white">Желите да будете у току са дешавањима у</div>
                                <div style="clear:both;"></div>
                                <div class="footer-event-orange">школској библиотеци?</div>
                                <div style="clear:both;"></div>
                                <div class="input-button-container">
                                    <input class="footer-subscribe-input" placeholder="Емаил" />
                                    <button class="footer-subscribe-button">ПОШАЉИ</button>
                                </div>

                            </div>*@



                        <div style="clear:both;"></div>
                    </div>

                    <div style="clear:both;"></div>

                    <div class="footer-container-bottom">
                        <div class="footer-content-left copyright">
                            <p>&copy; @DateTime.Now.Year <a class="link-tesla no-decoration" href="http://www.etstesla.ni.ac.rs">ЕТШ "Никола Тесла"</a>. Сва права задржана.</p>
                        </div>
                        <div class="footer-content-right">
                            <a href="#top" class="go-top">
                                <span class="glyphicon glyphicon-chevron-up"></span> Врх странице
                            </a>
                        </div>
                        <div style="clear:both;"></div>
                    </div>

                </div>


            </div>

        </footer>
    </div>

    <script>
        $("a[href='#top']").click(function () {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });
    </script>

    @if (User.Identity.IsAuthenticated)
    {
        <script>
            setInterval(function () {
                getNotCount();
            }, 10 * 1000);

            function getNotCount() {
                $.get('@Url.Action("GetNotificationCount", "Account", new { area = "" })',
                    function (data, status) {
                        if (parseInt(data) != parseInt($("#notifBadge").html()))
                        {
                            //alert(data);
                            $("#notifBadge").html(data);
                            var notificationNumber = parseInt($("#notifBadge").html());

                            if (notificationNumber > 0)
                            {
                                if ($('#notifBadge').hasClass("dropdown-badge"))
                                {
                                    $("#notifBadge").removeClass("dropdown-badge");
                                    $("#notifBadge").addClass("dropdown-badge-new");
                                }
                            }

                            if (notificationNumber == 0) {
                                if ($("#notifBadge").hasClass("dropdown-badge-new")) {
                                    $("#notifBadge").addClass("dropdown-badge");
                                    $("#notifBadge").removeClass("dropdown-badge-new");
                                }
                            }

                        }
                        else
                        {
                            var notificationNumber = parseInt($("#notifBadge").html());
                            if (notificationNumber == 0) {
                                if ($("#notifBadge").hasClass("dropdown-badge-new"))
                                {
                                    $("#notifBadge").addClass("dropdown-badge");
                                    $("#notifBadge").removeClass("dropdown-badge-new");
                                }
                            }
                        }
                    });
            }
        </script>
    }

</body>
</html>
