﻿@using Microsoft.AspNet.Identity
@using SkolskaBibliotekaDBContext
@using SkolskaBiblioteka.ViewModels


@if (Request.IsAuthenticated)
{

    KorisnikZaPrikaz user = (KorisnikZaPrikaz)Session["Korisnik"];
    int notifications = 0;

    using (SkolskaBibliotekaDBModel db = new SkolskaBibliotekaDBModel())
    {
        if (user == null)
        {
            var k = db.Korisnik.FirstOrDefault(x => x.Username == User.Identity.Name);
            user = new KorisnikZaPrikaz(k);
            Session["Korisnik"] = user;
        }

        notifications = db.ObavestenjeKorisnik.Where(x => x.KorisnikID == user.KorisnikId && x.Seen != true).Count();
    }
    if (ViewBag.Current == "Notification")
    {
        <li class="active" id="notListItem">
            <a href="@Url.Action("Index", "Notification")">
                @if (notifications == 0)
                {
                    <span id="notifBadge" class="badge dropdown-badge">0</span>
                }
                else
                {
                    <span id="notifBadge" class="badge dropdown-badge-new">@notifications</span>
                }
                <span class="glyphicon glyphicon-bell"></span>
            </a>

        </li>
    }
    else
    {
        <li>
            <a href="@Url.Action("Index", "Notification")">
                @if (notifications == 0)
                {
                    <span id="notifBadge" class="badge dropdown-badge">0</span>
                }
                else
                {
                    <span id="notifBadge" class="badge dropdown-badge-new">@notifications</span>
                }
                <span class="glyphicon glyphicon-bell"></span>
            </a>

        </li>
    }
    <li>
        <a href="#" class="dropdown" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>
            <strong>@User.Identity.GetUserName()</strong>
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <div class="navbar-login">
                    <div>
                        <div class="menu-avatar-container">
                            <img class="avatar" src="@Url.Content("~" + user.PicPath)" />
                        </div>
                        <div>
                            <p>
                                <strong>
                                    @user.Ime @user.Prezime
                                </strong>
                            </p>
                            <p class="small">@user.Email</p>
                            <p>
                                <a href="@Url.Action("Profile", "Account", new { Area = "", id = user.KorisnikId})" class="btn btn-block btn-sm btn-profile"><strong>Профил</strong></a>
                            </p>
                            <p>
                                <a href="@Url.Action("Logout", "Account", new { Area = ""})" class="btn btn-block btn-logout"><strong>Одјави се</strong></a>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>

}
else
{


    if (ViewBag.Current == "Login")
    {
        <li class="active"><a href="@Url.Action("Login","Account")">Пријава</a></li>
    }
    else
    {
        <li><a href="@Url.Action("Login","Account")">Пријава</a></li>
    }
}
