﻿@if (!Request.IsAuthenticated)
{
<div class="log-reg-container">
    <a href="@Url.Action("Register", "Account")">
        <div class="log-reg-reg">Регистрација</div>
    </a>
    <p>или</p>
    <a href="@Url.Action("Login", "Account")">
        <div class="log-reg-log">Пријава</div>
    </a>
</div>
}
else
{

}

