﻿@model SkolskaBiblioteka.ViewModels.SearchParams

<div class="container">
    <div class="form-container">
        <h4>Детаљна претрага</h4>
        <hr />
        @using (Html.BeginForm("Advanced", "Search", FormMethod.Post, new { @class = "search-form" }))
        {
            <div class="col-md-7 form-group row search-div-container">
                @Html.LabelFor(x => x.Naslov, new { @class = "col-md-4 form-control-lable" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Naslov, new { htmlAttributes = new { @class = "form-control", @placeholder = "На Дрини ћуприја", @type = "search" } })
                </div>
            </div>

            <div class="col-md-7 form-group row">
                @Html.LabelFor(x => x.ImeAutora, new { @class = "col-md-4 form-control-lable" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ImeAutora, new { htmlAttributes = new { @class = "form-control", @placeholder = "Иво Андрић", @type = "search" } })
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="col-md-7 form-group row">
                @Html.LabelFor(x => x.ImeIzdavaca, new { @class = "col-md-4 form-control-lable" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ImeIzdavaca, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sezam book", @type = "search" } })
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="col-md-7 form-group row">
                @Html.LabelFor(x => x.Signatura, new { @class = "col-md-4 form-control-lable" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Signatura, new { htmlAttributes = new { @class = "form-control", @placeholder = "Домаће књиге", @type = "search" } })
                </div>
            </div>
            <div style="clear:both;"></div>

            <div class="col-md-7 form-group row">
                @Html.LabelFor(x => x.GodinaIzanja, new { @class = "col-md-4 form-control-lable" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.GodinaIzanja, new { htmlAttributes = new { @class = "col-md-2 form-control", @placeholder = "2011", @type = "search" } })
                </div>
            </div>
            <div style="clear:both;"></div>

            <div class="col-md-7 form-group row">
                @Html.LabelFor(x => x.PapirnoIzdanje, new { @class = "col-md-4" })
                @Html.EditorFor(model => model.PapirnoIzdanje, new { htmlAttributes = new { @class = "col-md-1 checkbox" } })
            </div>
            <div style="clear:both;"></div>
            <input type="submit" class="btn-custom btn col-md-1 col-sm-2" value="Претражи">
        }
    </div>
</div>

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#Naslov').autocomplete({
            source: '@Url.Action("AutocompleteNaslov")'
        });
    });

    $(document).ready(function () {
        $('#ImeAutora').autocomplete({
            source: '@Url.Action("AutocompleteAutor")'
        });
    });

    $(document).ready(function () {
        $('#ImeIzdavaca').autocomplete({
            source: '@Url.Action("AutocompleteIzdavac")'
        });
    });

    $(document).ready(function () {
        $('#Signatura').autocomplete({
            source: '@Url.Action("AutocompleteSignatura")'
        });
    });
</script>
