﻿@using Microsoft.AspNet.Identity


<div class="simple-search">
    <div class="container simple-search-body">

        <div id="welcome">
            ДОБРОДОШЛИ
            <div class="heading-bottom">у еБиблиотеку.</div>
            
        </div>
        @using (Html.BeginForm("Index", "Search", FormMethod.Get)) { 
        <div class="simple-search-input">
            @Html.TextBox("NameString","", new { @class = "simple-search-input-bar", @placeholder = "Претражите еБиблиотеку...", @type = "search" })
            <button class="simple-search-button">                   
                   <div class="search-image"></div>
            </button>
        </div>
        }
        <div class="advanced-search-text">
            <a href="@Url.Action("Index", "Search")">ДЕТАЉНА ПРЕТРАГА >></a>
        </div>

        <div class="user-container">
            @Html.Partial("_LogOrReg")
        </div>

    </div>

</div>

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#NameString').autocomplete({
            source: '@Url.Action("AutocompleteNaslov","Search")'
        });
    })


</script>
