﻿@model SkolskaBibliotekaDBContext.Signatura

@{
    ViewBag.Title = "Сигнатура - Обриши";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Сигнатура - Обриши</h1>
    </div>
</div>

<h3>Да ли сте сигурни да желите да обришете ову сигнатуру?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

    </dl>

    @Html.Partial("../Book/Index", Model.Knjiga)

    <br />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Обриши" class="btn btn-default" /> |
            @Html.ActionLink("Назад на листу", "Index")
        </div>
    }
</div>
