﻿@model SkolskaBibliotekaDBContext.Obavestenje

@{
    ViewBag.Title = "Порука - Обриши";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Порука - Обриши</h1>
    </div>
</div>

<h3>Да ли сте сигурни да желите да обришете ову поруку?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kreator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kreator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tekst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tekst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Обриши" class="btn btn-default" /> |
            @Html.ActionLink("Назад на листу", "Index")
        </div>
    }
</div>
