﻿@model SkolskaBibliotekaDBContext.Obavestenje

@{
    ViewBag.Title = "Порука - Детаљи";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Порука - Детаљи</h1>
    </div>
</div>

<div>
    <h4>Obavestenje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kreator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kreator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tekst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tekst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Измени", "Edit", new { id = Model.ObavestenjeID }) |
    @Html.ActionLink("Обриши", "Delete", new { id = Model.ObavestenjeID }) |
    @Html.ActionLink("Назад на листу", "Index")
</p>
