﻿body {
    background-color: white;
    /*font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;*/
    font-family: 'Open Sans';
}

.dl-horizontal dt {
    white-space: normal;
}
/*slicica - logo*/

.menubar {
    position: relative;
    background-color: rgb(44, 62, 80);
    padding:10px 0;
}
/*gore menu bar*/


.navbar-header {
    padding: 10px;
}

.navbar-nav {
    list-style: none;
    float: right;
    padding: 10px;
}

    .navbar-nav > li {
    }

        .navbar-nav > li > a {
            display: block;
            margin: 0 15px 0;
            padding: 9px 0 0 0;
            line-height: 20px;
            font-size: 15px;
            font-weight: bolder;
            text-transform: uppercase;
            color: #95a5a6;
            text-align: center;
        }

@media(max-width:1000px) {
    .notification-menu-item {
        float: left;
        border-right: none !important;
        border-bottom: 2px solid black;
        text-align:center;
    }

    .notification-items {
        width: 100% !important;
    }

        .notification-items table {
            margin-top: 0;
        }

    .profile-info-container-first {
        float: none;
        clear: both;
        width: 50% !important;
    }

    .profile-info-container-second {
        width: 50% !important;
    }

    .profile-info-container-all{
        float:none !important;
        clear:both !important;
        width: 50% !important;
        padding:0 !important;
            display:block;
    margin:0 auto;
    }

    .profile-pic-container {
        width: 100% !important;
        padding: 0 50px 20px 50px !important;
    }

    .statistics-download {
        float: none;
        clear: both;
    }

    .statistics-container div {
        width: 50%;
        padding: 8px;
    }

    .menu-avatar-container {
        width: 90px !important;
        height: 90px !important;
    }
    
    .bookshelf-image{
        width:100% !important;
    }

    .book-image{
        margin-top:-243px !important;
      
    }
}

@media(max-width:767px) {

    .book-image {
    margin-top:-260px !important;
    margin-bottom:75px;
}

.bookshelf-image{
    width:280px !important;
}
    .navbar-nav {
        width: 100%;
        margin: 0;
    }

.navbar-nav > li > a{
     border:none !important; 
}

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
    border:none !important; 
    background-color: transparent;
}

    .navbar-login {
        background-color: white;
    }

    .book-desc {
        clear: both;
        width: 100% !important;
        padding-top:30px;
    }

    .book-info {
        width: 100% !important;
    }

    .simple-search-input-bar {
        width: 70% !important;
    }

    .simple-search-button {
        width: 30% !important;
    }

    .profile-info-container-first {
        width: 50% !important;
    }

    .profile-info-container-second {
        width: 50% !important;
    }

    .menu-avatar-container {
        width: 100px !important;
        height: 100px !important;
    }

    .register-page-container{
        width:100% !important;
    }

    .login-page-container{
        padding-top:0 !important;
        padding-bottom:0 !important;
        width:100% !important;
    }
    .about-text-container{
    width:100% !important;
    float:none;
    clear:both;
}

.about-contact-container{
    width:100% !important;
    display:inline-block;
    text-align:center;
    padding:15px;
}
}

@media(max-width:550px) {
    .profile-info-spacer{
        display:none;
    }

    .profile-info-container-first {
        width: 100% !important;
        text-align: center;
        padding: 0 !important;
    }

    .profile-info-container-second {
        float: none;
        clear: both;
        width: 100% !important;
        padding: 0 !important;
        padding-top: 20px !important;
        text-align: center;
    }

    .profile-info-container-all{
        width: 100% !important;
        padding:0 !important;
        padding-top: 20px !important;
        text-align: center;
    }

    .footer-field {
        float: none;
        clear: both;
        width: 100% !important;
        text-align: center;
        margin: 50px 0 50px 0 !important;
    }

    .footer-content {
    width: 100%;
    padding:0 !important;
}

    .navbar-login {
        width: 250px !important;
        padding-bottom: 15px;
    }

    .menu-avatar-container {
        width: 110px !important;
        height: 110px !important;
    }
    .profile-button-container {
        width: 80% !important;
        margin:0 auto;
    }
    .simple-search-input{
        width:85% !important;
    }
}

@media(max-width:400px){
    .book-reserve {
        width: 100% !important;
    }

    .book-download {
        float:none;
        clear:both;
        width: 100% !important;
    }

    .book-button{
        margin:0 auto;
        width: 100% !important;
    }
}

.navbar-collapse.in {
    overflow-y: visible;
}


.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
     border-bottom: 2px solid #fff;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
    color: #fff;
    border-bottom: 2px solid #fff;
    background-color: transparent;
}

.navbar-nav > .active > a {
    color: #f39c12; /*narandzasta*/
    border-bottom:2px solid #f39c12;
}

    .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
        border-bottom: 2px solid #f39c12;
        color: #f39c12;
    }

.simple-search {
    background: linear-gradient( rgba(44, 62, 80, 1),rgba(44, 62, 80, 0.83) ), url('/Images/search-background.jpg');
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    min-height: 500px;
    padding: 0;
}

.simple-search-body {
}

#welcome {
    text-align: center;
    padding-top: 65px;
    color: white;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 2px;
}

.heading-bottom{
    font-size:15px;
    font-style:italic;
    color: #f39c12; 
}

.underline {
    width: 120px;
    height: 20px;
    border-bottom: 2px solid white;
    margin: auto;
}

.simple-search-input {
    height: 45px;
    width: 50%;
    background-color: white;
    border-radius: 9px 15px 15px 9px;
    margin: 0 auto;
    margin-top: 80px;
    padding-left:8px;
}

.simple-search-input-bar {
    outline: none;
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    padding-left: 5px;
}

.simple-search-button {
    height: 100%;
    width: 20%;
    background-color: #f39c12; /*plava*/
    border-radius: 0 9px 9px 0;
    float: right;
    border: none;
    outline: none;
}

.search-image {
    margin: auto;
    background: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 15px;
    width: 15px;
}

.advanced-search-text {
    text-align: center;
    padding-top: 15px;
}

    .advanced-search-text a {
        color: white;
        font-size: 13px;
        text-decoration: underline;
    }

        .advanced-search-text a:hover {
            color: #95a5a6;
        }

.user-container {
    margin: auto;
}

.footer-bottom {
    background-color: rgb(44, 62, 80); /*footer plava*/
    padding: 5px;
}

.footer-container-top {
    border-bottom: 1px solid #95a5a6;
}

.footer-container-bottom {
    color: #95a5a6;
    padding-top: 20px;
    padding-bottom:10px;
}

.footer-content {
    width: 100%;
    padding: 75px 0 75px 0;
}

.footer-content-left {
    display: block;
    float: left;
    width: 50%;
    padding-bottom: 20px;
}

.footer-content-right {
    float: right;
    width: 50%;
    text-align: right;
}

.footer-citat{
    text-align:center;
    padding:85px 0 85px 0;
    margin-top:60px;
}

.footer-citat-text{
    color: #777;
    font-size:140%;
}

.footer-citat-creator{
    display:block;
    color: #e29200;
    text-align:right;
    margin-top:10px;
    font-size:120%;
    font-style:italic;
}

.footer-citat-container{
    display: inline-block;
}

.footer-citat-back{
     background-color: #e5e5e5;
}

.copyright {
    padding-bottom: 0;
}

.subtitle {
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}

.footer-field {
    float: left;
    width: 33%;
    text-align: center;
}

.footer-field-image {
    margin-bottom: 20px;
}

.footer-field-top {
    color: #f39c12;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-field-bottom {
    color: white;
}

.footer-subscribe {
    padding-bottom: 15px;
    width: 70%;
    font-weight: bold;
    float: left;
}

.footer-subscribe-input {
    outline: none;
    border: 1px solid #95a5a6; /*svetlo siva*/
    background-color: transparent;
    color: white;
    margin-top: 10px;
    width: 100%;
    padding: 2px 5px 2px 5px;
    text-align: right;
}

.footer-subscribe-button {
    width: 90px;
    height: 30px;
    background-color: red;
    border: none;
    background-color: #6f9add; /*plava*/
    margin-top: 10px;
    font-weight: 400;
    color: rgb(44, 62, 80); /*Ljubicasta-boja footera*/
    border-radius: 2px;
}

.link-tesla{
    color: #f39c12;
}

.link-tesla:hover, .link-tesla:active{
     color: #d78c15;
}

.subscribe-input:focus {
    border: 1px solid white;
}

.input-button-container {
    width: 80%;
    max-width: 400px;
    float: right;
}

.footer-event-white {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    float: right;
    text-align: right;
}

.footer-event-orange {
    color: #f39c12;
    font-size: 16px;
    text-transform: uppercase;
    float: right;
    text-align: right;
}

.footer-navigation {
    float: left;
    width: 30%;
}

    .footer-navigation ul {
        padding-left: 15px;
        padding-top: 5px;
        float: left;
    }

        .footer-navigation ul li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

.go-top {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
    padding: 10px;
    margin: 0;
}

    .go-top:hover {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        text-decoration: none;
    }

.log-reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    color: white;
}

    .log-reg-container a {
        text-decoration: none;
        color: #95a5a6;
    }

        .log-reg-container a:hover {
            text-decoration: none;
            color: white;
        }

    .log-reg-container p {
        text-align: center;
        padding-top: 10px;
    }

.log-reg-log {
    border: 2px solid #55bd54;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    width: 120px;
    height: 40px;
    line-height: 36px;
}

    .log-reg-log:hover {
        background-color: rgba(85, 189, 84, 0.1);
    }

.log-reg-reg {
    border: 2px solid #ff4848;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    width: 120px;
    height: 40px;
    line-height: 36px;
}

    .log-reg-reg:hover {
        background-color: rgba(255, 72, 72, 0.1);
    }

.item:hover {
    font-size: 0;
}

    .item:hover:before {
        font-size: 14px;
        content: attr(data-hover);
    }

.navbar-login {
    width: 300px;
    padding: 10px;
    margin: auto;
    border-radius: 3px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.profile-tabs {
    margin: 30px;
}

.btn-logout {
    background-color: #f39c12;
    text-decoration: none;
    color: white;
}

    .btn-logout:hover {
        background-color: #e28f0a;
        text-decoration: none;
        color: white;
    }

.btn-profile {
    background-color: rgb(44, 62, 80);
    text-decoration: none;
    color: #95a5a6;
}

    .btn-profile:hover {
        background-color: rgb(33, 52, 74);
        text-decoration: none;
        color: white;
    }

.dropdown-menu {
    top: 50px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.btn-custom {
    background-color: #f39c12 !important;
    color: white;
    width: 100%;
    border: 2px solid white;
    text-transform: uppercase;
}

    .btn-custom:hover, .btn-custom:active {
        color: #404040;
    }

.btn-remove {
    background-color: #ff544f;
    color: white;
    border: 1px solid black;
    width: 100%;
    height: 23px;
    line-height: 20px;
    padding: 0;
    border-radius: 0 0 5px 5px;
}

    .btn-remove:hover, .btn-remove:active {
        color: white;
        background-color: #ff3832;
    }

.search-textbox {
    margin-top: 5px;
}

.avatar {
    width: 100%;
    height: 100%;
}

.search-div-container {
    vertical-align: middle;
    display:block;
    margin:auto;
}

.form-container {
    padding-top: 10px;
    margin-bottom: 10px;
}

.avatar-preview {
    width: 35px;
    height: 35px;
    margin: 5px;
}

#avatar-preview {
}

/*
    KOMENTARI
    */

.thumbnail {
    padding:0px;
}
.thumbnail-pic{
    max-height:100px !important;
    max-width:100px !important;
    width:100% !important;
    height:100%;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

.panel-heading p{
    margin:0;
    margin-top:3px;
}

.btn-dlt-cmnt
{
    background-color:#ff5858;
    padding:0;
    width:22px;
    height:22px;
    line-height:20px;
    font-weight:bold;
    color:white;
    font-size:60%;
    float:right;
    border:none;
    border-radius:2px;
}

.comment-heading{
    margin:30px 0 35px 0;
}

.comment-container {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.comment-input {
    margin-left: auto;
    margin-right: auto;
    margin-top:13px;
    display:block;
    width:95%;
    resize: none;
}

.comment-link-name,.comment-link-name:hover,.comment-link-name:active{
    color:black;
}
.comment-link-pic,.comment-link-pic:hover,.comment-link-pic:active{
    color:black;
}

.vote-up{
    color:#0e8927;
}

.vote-down{
    color:#ff3d3d;
}

.vote-up:hover{
    color:#0e8927;
    text-decoration:none;
}

.vote-down:hover{
    color:#ff3d3d;
    text-decoration:none;
}

.vote-up:active{
    color:#0e8927 !important;
    text-decoration:none !important;
}

.vote-down:active{
    color:#ff3d3d !important;
    text-decoration:none !important;
}

.vote-up:visited{
    color:#0e8927;
    text-decoration:none;
}

.vote-down:visited{
    color:#ff3d3d;
    text-decoration:none;
}

.lnk-rprt-cmnt{
    float:right;
}

.lnk-rprt-cmnt:hover{
    cursor:pointer;
}

.btn-dlt-cmnt:hover
{
    background-color:#ff4444;
    color:white;
}

/*

.comment-elements {
    padding: 10px 0 0 10px;
}

.comment {
    margin: 5px;
    border-radius: 6px;
    padding: 1px;
}



.comment-picture {
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 10px 10px 0;
}

.comment-info {
    float: left;
}

.comment-text {
    color: #3d3d3d;
    margin-top: 15px;
}

.comment-page {
    margin-bottom: 10px;
}

.comment-page-input {
    color: black;
    background-color: white;
    border-radius: 3px;
    float: left;
    border: 1px solid black;
    padding: 1px 2px 1px 2px;
    margin-left: 2px;
}

.comment-page p {
    margin: 0;
    float: left;
}

.comment-new {
    display: inline;
}

    .comment-new img {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

.comment-send {
    float: right;
    width: 200px;
}*/

.book-download {
    float: left;
}

.comment-container {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.comment-elements {
    padding: 10px 0 0 10px;
}

.comment {
    margin: 5px;
    border-radius: 6px;
    padding: 1px;
}

.comment-picture {
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 10px 10px 0;
}

.comment-info {
    float: left;
}

.comment-page {
    margin-bottom: 10px;
}

.comment-page-input {
    color: black;
    background-color: white;
    border-radius: 3px;
    float: left;
    border: 1px solid black;
    padding: 1px 2px 1px 2px;
    margin-left: 2px;
}

.comment-page p {
    margin: 0;
    float: left;
}

.book-container {
    padding-top: 30px;
}

.book-image {
    margin: 0 auto;
    display: block;
    width:150px;
    height:180px;
    z-index:1;
    margin-top:-260px;
    margin-bottom:75px;
}

.bookshelf-image{
    margin: 0 auto;
    display: block;
    margin-top:185px;
    z-index:0;
    width:280px;
}

.book-name {
    text-align: center;
    background-color: rgb(44, 62, 80);
    color: white;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 30px;
    padding: 5px;
    text-transform: uppercase;
}

.book-info {
    float: left;
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}

.book-desc {
    float: left;
    width: 60%;
    text-align: justify;
}

.book-reserve {
    float: left;
    width: 60%;
}

.book-download {
    float: left;
    width: 40%;
}

.overdue {
    background-color: lightcoral;
}

.ontime {
    background-color: lightgreen;
}

.almost-overdue {
    background-color: lightyellow;
}

.dropdown-badge {
    margin-top: -7px;
}

.dropdown-badge-new {
    margin-top: -7px;
    background-color: #f39c12;
}

.notification-container {
    min-height: 500px;
    max-height: 500px;
    overflow: scroll;
    display: table;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.notification-menu {
    float: left;
    padding: 10px;
    padding-top: 35px;
    display: table-cell;
}

.notification-menu-item {
    padding: 0 10px 0 10px;
    margin: 3px;
    border-right: 2px solid black;
    color: white;
    font-weight: bold;
}

    .notification-menu-item a {
        color: black;
    }

.notification-items {
    float: left;
    width: 90%;
}

    .notification-items table {
        table-layout: fixed;
        width: 100%;
        border: 1px solid #d9d9d9;
        margin-top: 5px;
    }

        .notification-items table tr td {
            padding: 5px;
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
        }

.notification td {
}

.notification-old {
    background-color: #f5f5f5;
}

.notification-delete {
    border-left: 1px solid #dcdcdc;
    text-align: center;
    width: 40px;
    color: #8f0e0e;
}

.notification-read {
    text-align: center;
    width: 40px;
}

.notification-read-new {
    text-align: center;
    width: 40px;
}

.notification-read-old {
    text-align: center;
    width: 40px;
}

.notification-creator {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-text {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-date {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-message {
    padding-left: 35px;
}

.notification-messages{
    text-align:center;
    font-weight:bold;
    padding-top:7px;
}

.book-search-result {
    cursor: pointer;
    margin:10px 0px;
    
}

.book-search-result-image{
}

    .book-search-result:hover {
        background-color: lightgray;
        cursor: pointer;
    }

    .book-search-result:active {
        background-color: lightgray;
        cursor: wait;
    }

.top-comment-book-heading {
    color: #888;
    padding: 5px;
    text-transform:uppercase;
    margin-top:-5px;
    max-width:180px;
    font-weight:bold;
    word-wrap: break-word
}

.top-comment-book-heading-container{

    text-align:right;
    width:100%;
    border-top:1px solid gray;
    padding-top:5px;
    margin-top:5px;
}

.top-comment-book-heading:hover{
    color: #f39c12;
}

.no-decoration{
    text-decoration:none;
}

.no-decoration:hover{
    text-decoration:none;
}

.no-decoration:active{
    text-decoration:none;
}

.admin-link {
    position: fixed;
    left: 0px;
    top: 15%;
    z-index:555;
}

.admin-link-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 0 5px 5px 0;
    border: 1px solid black;
    border-left: 0px !important;
    color: rgb(44, 62, 80);
}

    .admin-link-icon:hover {
        width: 60px;
        color: rgb(44, 62, 80);
    }

.profile-container {
    padding:50px 0px 0 0;
}

.profile-pic-container {
    width: 20%;
    float: left;
    padding: 0 30px 0 0;
    text-align: center;
}

.profile-info-container-first {
    width: 40%;
    float: left;
    padding: 5px 0 0 30px;
}

.profile-info-container-second {
    width: 40%;
    float: left;
    padding: 5px 0 0 30px;
}

.profile-info-container-all{
    width: 80%;
    float: left;
    padding: 5px 0 0 30px;
}

.profile-info-name {
    font-size: 11px;
    color: #989898;
}

.profile-info-value {
    margin-top: -3px;
    color: rgb(44, 62, 80);
    font-weight: bold;
    min-height: 18px;
}
.profile-info-value input{
    outline:0;
    border:none;
    border-bottom:1px solid gray;
    padding-left:10px;
}

.profile-info-spacer{
    height:57px;
}

.profile-name-holder {
    background-color: rgb(44, 62, 80);
    color: white;
    padding: 7px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.profile-pic {
    width: 150px;
    height: 150px;
}

.avatar-chooser-container {
    width: 150px;
    padding: 15px 0 15px 0;
}

.profile-editor-container {
    padding-top: 35px;
    padding-bottom: 35px;
}

.profile-button-container {
    width: 150px;
}

.statistics-container {
    font-size: 50px;
    font-weight: bold;
}

    .statistics-container p {
        font-size: 17px;
        font-weight: bold;
    }

.statistics-reserve {
    float: left;
    width: 25%;
    text-align: center;
    display: inline;
    color: rgb(44, 62, 80);
    Padding: 30px 0px;
}

.statistics-reserve:hover{
    cursor:pointer;
    border-radius:3px;
    background-color: rgb(44, 62, 80);
    color:white;
}

.statistics-read {
    float: left;
    width: 25%;
    text-align: center;
    display: inline;
    color: rgb(44, 62, 80);
    Padding: 30px 0px;
}

.statistics-read:hover{
    cursor:pointer;
    border-radius:3px;
    background-color: rgb(44, 62, 80);
    color:white;
}

.statistics-download {
    float: left;
    width: 25%;
    text-align: center;
    display: inline;
    color: rgb(44, 62, 80);
    Padding: 30px 0px;
}

.statistics-download:hover{
    cursor:pointer;
    border-radius:3px;
    background-color: rgb(44, 62, 80);
    color:white;
}

.statistics-comment {
    float: left;
    width: 25%;
    text-align: center;
    display: inline;
    color: rgb(44, 62, 80);
    Padding: 30px 0px;
}

.statistics-comment:hover{
    cursor:pointer;
    border-radius:3px;
    background-color: rgb(44, 62, 80);
    color:white;
}

.menu-avatar-container {
    width: 80px;
    height: 80px;
    margin: auto;
}

#Rezervisane{
    display:block;
}

#Procitane{
    display:none;
}
#Preuzete {
    display: none;
}
#Komentari{
    display:none;
}

.profile-view-comment{
    padding:3px;
    padding-left:10px;
    padding-right:10px;
    background-color: rgb(44, 62, 80);
    color:white;
    font-weight:bold;
}

.profile-view-comment:hover{
    color:white;
    text-decoration:underline;
}

.register-page-container{
        padding-top:20px;
        width:768px;
    }

.login-page-container{
        padding-top:100px;
        padding-bottom:100px;
        width:768px;
    }

.about-container{
    padding:30px;
}

.about-text-container{
    width:70%;
    float:left;
    text-align:justify;
    padding:15px;
}

.about-contact-container{
    width:30%;
    float:left;
    padding:15px;
}

.about-contact-q{
    color: #f39c12;
    font-weight:bold;
    font-size:17px;
    text-align:right;
    padding-top:30px;
    
}

.about-contact-a{
    padding:15px;
}

.contact-input-container textarea{
    width:100%;
    max-width:100%;
    max-height:150px;
    height:100px;
}

.contact-container{
    padding:60px 0 60px 0;
}
.rating-stars .fa-star{
    color: #f39c12; /*narandzasta*/
}
.star-container{
    padding:5px;
    margin:auto; width:95px;
}

.book-search-result{
    text-align:center;
}
.book-search-result-name{
    color:white;
    background-color: rgb(44, 62, 80);
}

.profile-table{
    width:100%;
}

.profile-table tr td, th{
    text-align:center;
}

.latest-books-item{
    display:block;
    text-align:center;
}

.latest-books-item-heading{
    background-color:rgb(44, 62, 80);
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    padding:5px;
    margin-top:10px;
}
.latest-books-item-heading:hover{
    text-decoration:none;
}
.latest-books-item-pic{
    width:100px;
    height:140px;
}

.top-comments, .latest-books{
    margin-top:30px;
}
.top-comments{
    margin-bottom:30px;
}

.overflow-elipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subheading{
    padding: 40px 0 0 0;
    text-align: center;
    font-size: 20px;
    color: #888;
}

.input-streach{
    width:100%;
}