﻿@model SkolskaBibliotekaDBContext.Komentar

@using SkolskaBibliotekaDBContext;
@using SkolskaBiblioteka.ViewModels;


@if (Request.IsAuthenticated)
{
    using (Ajax.BeginForm("Book", new AjaxOptions { UpdateTargetId = "komentari", OnSuccess = "CommentAdded()" }))
    {
        KorisnikZaPrikaz kzp = (KorisnikZaPrikaz)Session["Korisnik"];

        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.KnjigaID)
        @Html.HiddenFor(model => model.KorisnikID)
        @Html.HiddenFor(model => model.Knjiga)
        @Html.HiddenFor(model => model.VoteUp)
        @Html.HiddenFor(model => model.VoteDown)

        <div class="row">
            <div class="col-sm-2 col-md-1 col-lg-1 col-xs-3">
                <div class="thumbnail">
                    <img class="thumbnail-pic" src="@Url.Content("~" + kzp.PicPath)" />
                </div>
            </div>

            <div class="col-sm-10 col-md-11 col-lg-11 col-xs-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>@kzp.Ime @kzp.Prezime:</strong>
                    </div>
                    <div class="panel-body">
                        @Html.TextAreaFor(x => x.KomentarText, new { rows = 5, @class = "comment-input", id = "kmntr" })
                    </div>
                    <p>@Html.ValidationMessageFor(x => x.KomentarText, "", new { @class = "text-danger" })</p>
                    <div class="comment-send"><input type="submit" value="Пошаљи" class="btn btn-custom" /></div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    }
    <script>
        function RemoveText() {
            $('#kmntr').val('');
        }

        function CommentAdded() {
            RemoveText();
            swal('Обавештење', 'Успешно постављен коментар.', 'success');
        }
    </script>
}