﻿@model SkolskaBiblioteka.ViewModels.KnjigaDetails

@using SkolskaBibliotekaDBContext

@{
    bool rezervisao = false;

    string duzinaRezervacije = Podesavanja.Get("DuzinaRezervacije");

    if (Request.IsAuthenticated)
    {

        using (SkolskaBibliotekaDBModel db = new SkolskaBibliotekaDBModel())
        {
            int korisnikId = db.Korisnik.FirstOrDefault(y => y.Username == User.Identity.Name).KorisnikID;

            var rez = db.Rezervacije.FirstOrDefault(x => x.KorisnikID == korisnikId && x.KnjigaID == Model.KnjigaId && x.Validna == true);

            if (rez != null)
            {
                rezervisao = true;
            }
        }
    }

}
@if (Model.FizickaKopija)
{
    <div>Слободни примерци: @Html.ValueFor(model => model.SlobodniPrimerci)/@Html.ValueFor(model => model.UkupnoPrimeraka)</div>
    <div>Тренутно читају: @Html.ValueFor(model => model.TrenutnoCitajuCounter)</div>
    <div>Укупно читања: @Html.ValueFor(model => model.CitanoCounter)</div>
}
@if (Model.ElektronskaKopija)
{
    <div>Укупан број преузимања: @Html.ValueFor(model => model.DownloadCounter)</div>
}

<br />
<div>Издавач: @Html.ValueFor(model => model.Izdavac)</div>
<br />

@if (Model.FizickaKopija)
{
    <div class="book-reserve">
        @if (Request.IsAuthenticated)
        {
            if (rezervisao)
            {
                using (Ajax.BeginForm("RemoveReserve", new { id = Model.KnjigaId }, new AjaxOptions { OnSuccess = "swal('Обавештење','Резервација успешно уклоњена.','success')", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "commentInfo" }))
                {
                    <div class="book-button">
                        <input type="submit" value="Уклони резервацију" class="btn btn-custom" />
                    </div>
                }
            }
            else
            {
                if (Model.SlobodniPrimerci > 0)
                {

                    {
                        using (Ajax.BeginForm("Reserve", new { id = Model.KnjigaId }, new AjaxOptions { OnSuccess = "swal('Обавештење','Успешно сте резервисали књигу. Књига је на стању и можете је узети у року од "+duzinaRezervacije+" дана.','success')", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "commentInfo" }))
                        {
                            <div class="book-button">
                                <input type="submit" value="Додај резервацију" class="btn btn-custom" />
                            </div>
                        }
                    }
                }
                else
                {
                    using (Ajax.BeginForm("Reserve", new { id = Model.KnjigaId }, new AjaxOptions { OnSuccess = "swal('Обавештење','Успешно сте резервисали књигу. Књига тренутно није на стању. Бићете обавештени када ваш резервисани примерак буде физички доступан.','success')", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "commentInfo" }))
                    {
                        <div class="book-button">
                            <input type="submit" value="Додај резервацију" class="btn btn-custom" />
                        </div>
                    }
                }
            }
        }
    </div>

}


@if (Model.ElektronskaKopija)
{
    <div class="book-download">
        @if (Request.IsAuthenticated)
        {
            using (Ajax.BeginForm("Download", new { id = Model.KnjigaId }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "commentInfo", OnSuccess = "window.open('" + Model.PdfPath + "', '_blank')" }))
            {
                <div class="book-button">
                    <input type="submit" value="Преузми" class="btn btn-custom" />
                </div>
            }
        }
    </div>

}
<div style="clear:both;"></div>