﻿@model KnjigaDetails
@using PagedList.Mvc


@using SkolskaBiblioteka.ViewModels

@if (Model.PlKzp.Count > 0)
{
    <div>
        @foreach (KomentarZaPrikaz k in Model.PlKzp)
        {
            string commId = "comm" + k.KomentarID;
            <div id="@commId">
                @Html.Partial("_Komentar", k)
            </div>
        }
        <br />

        <div class="comment-page">

            Страна @(Model.PlKzp.PageCount < Model.PlKzp.PageNumber ? 0 : Model.PlKzp.PageNumber) од @Model.PlKzp.PageCount

            @Html.PagedListPager(Model.PlKzp, page => Url.Action("ChangePage", new { knjigaId = Model.KnjigaId, p = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "komentari" }))

            <div style="clear:both;"></div>
        </div>
    </div>
}