﻿@model KomentarZaPrikaz

@using SkolskaBiblioteka.ViewModels
@using System.Globalization

@{
    KorisnikZaPrikaz kzp = (KorisnikZaPrikaz)Session["Korisnik"];

    var cultSr = CultureInfo.GetCultureInfoByIetfLanguageTag("sr-Cyrl-CS");

    string commId = "comm" + Model.KomentarID;
}

@using (Ajax.BeginForm("RemoveComment", new { id = Model.KomentarID }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "komentari" }))
{
    <div class="row">
        <div class="col-sm-2 col-md-1 col-lg-1 col-xs-3">
            <div class="thumbnail">
                <a class="comment-link-pic" href="@Url.Action("Profile","Account", new { id=Model.KorisnikID})">
                    <img class="thumbnail-pic" src="@Url.Content("~" + Model.PicPath)" />
                </a>
            </div>
        </div>

        <div class="col-sm-10 col-md-11 col-lg-11 col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="comment-link-name no-decoration" href="@Url.Action("Profile","Account", new { id=Model.KorisnikID})"><strong>@Model.Ime @Model.Prezime:</strong></a>
                    <br />
                    <div class="top-comment-book-heading-container"><span class="text-muted">@Model.VremeKomentara.ToString("d/M/yyyy/ HH:mm:ss", cultSr)</span></div>
                </div>

                <div class="panel-body">
                    @Model.KomentarText
                </div>
                <div class="panel-footer">
                    @if (Model.AdditionalInfo)
                    {
                        if (kzp != null)
                        {
                            if (kzp.AccessLevels.Min() == 7)
                            {
                                <button type="submit" id="@Model.KomentarID" class="btn-dlt-cmnt">
                                    <span class="glyphicon glyphicon-remove "></span>
                                </button>
                                <p style="margin:0px;">
                                    <strong> Оцена:</strong> @Model.VoteUp @Ajax.ActionLink("👍", "VoteUp", new { id = Model.KomentarID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = commId }, new { @class = "vote-up" }) @Model.VoteDown
                                    @Ajax.ActionLink("👎", "VoteDown", new { id = Model.KomentarID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = commId }, new { @class = "vote-down" })
                                </p>
                            }
                            else
                            {
                                if (Model.KorisnikID == kzp.KorisnikId)
                                {
                                    <button type="submit" id="@Model.KomentarID" class="btn-dlt-cmnt">
                                        <span class="glyphicon glyphicon-remove "></span>
                                    </button>
                                    <p style="margin:0px;">
                                        <strong> Оцена:</strong> @Model.VoteUp <span class="vote-up">👍</span> @Model.VoteDown <span class="vote-down">👎</span>
                                    </p>
                                }
                                else
                                {
                                    <p style="margin:0px;">
                                        <strong> Оцена:</strong> @Model.VoteUp @Ajax.ActionLink("👍", "VoteUp", new { id = Model.KomentarID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = commId }, new { @class = "vote-up" }) @Model.VoteDown
                                        @Ajax.ActionLink("👎", "VoteDown", new { id = Model.KomentarID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = commId }, new { @class = "vote-down" })
                                        <a title="Пријави" class="lnk-rprt-cmnt" onclick="report('@Url.Action("Report", "Library", new { id = Model.KomentarID })')"><i class="fa fa-flag" aria-hidden="true"></i></a>

                                    </p>
                                }
                            }
                        }
                        else
                        {
                            <p style="margin:0px;">
                                <strong> Оцена:</strong> @Model.VoteUp <span class="vote-up">👍</span> @Model.VoteDown <span class="vote-down">👎</span>
                            </p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}







<script src="@Url.Content("~/Scripts/reportWindow.js")"></script>
