﻿@model SkolskaBiblioteka.ViewModels.KnjigaDetails
    @using PagedList;

@using SkolskaBibliotekaDBContext

@{
    ViewBag.Title = "Књига";
}

<div class="container book-container">
    <div class="book-info">
        
        <img class="bookshelf-image" src="~/Images/bookshelf.png"/>
        <img class="book-image" src="@Html.ValueFor(model => model.PicPath)" />

        <div class="book-name">@Html.ValueFor(model => model.Naziv)</div>

        <div>@Model.Autori</div>
        <br/>

        <div id="commentInfo">
            @Html.Partial("_CommentInfo", Model)
        </div>

    </div>
    <div class="book-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis ultrices urna vitae tempor. Nulla quis lacus erat. Curabitur non rutrum elit. Ut gravida nisl massa, eget eleifend massa ultrices vel. Nunc fermentum lacus neque, a luctus dolor cursus eu. Curabitur eu urna ultricies, sodales justo ac, imperdiet lectus. Aenean sodales venenatis erat rutrum fermentum. Pellentesque molestie efficitur nisi id pretium. Nulla ac ullamcorper nulla, in efficitur diam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent non eros ligula. Phasellus eget augue orci.<br/><br />

        Cras pellentesque lacinia facilisis. Fusce in tempus ex. Aenean nec feugiat urna. Sed pulvinar, dui efficitur faucibus volutpat, ligula neque varius odio, in bibendum ante mi ac odio. Aliquam nisl metus, tincidunt porttitor semper sit amet, fermentum vel neque. Vestibulum eros tellus, imperdiet nec dolor ac, pharetra rhoncus lectus. Nunc malesuada sagittis leo ut porta. Praesent et posuere nunc. Cras aliquet finibus purus, eu eleifend lectus ullamcorper lobortis. Donec vel semper lorem.<br/><br />

        Nunc volutpat pretium nisi, eget fermentum ante imperdiet ac. Sed pellentesque aliquet vulputate. Nullam malesuada mauris ac fringilla cursus. Vivamus convallis consectetur orci, vitae iaculis ante pulvinar at. Quisque commodo scelerisque ipsum eu facilisis. In et enim urna. Donec vel elit justo. Mauris mattis lorem vitae consequat feugiat. Etiam ut enim gravida, placerat urna in, feugiat lorem. Suspendisse dictum lorem nec augue accumsan, non ultricies orci tincidunt. Suspendisse imperdiet purus vitae felis consequat, ac pharetra nunc eleifend. Vivamus sit amet justo accumsan, congue justo ac, tempor diam. Duis nec est at arcu mattis laoreet eu non nibh.<br/><br />

        Integer posuere sollicitudin scelerisque. Sed nec vulputate leo. Ut imperdiet eleifend molestie. Nullam pharetra at risus eu venenatis. Praesent id eros eget urna vehicula ornare eget a magna. Praesent ut enim accumsan, laoreet mi id, sollicitudin massa. Aenean eros est, lacinia sed erat id, placerat iaculis quam. Pellentesque rutrum dignissim lectus ut ultricies.<br /><br />
        @Html.ValueFor(model => model.Opis)
    </div>
    
    <div style="clear:both;"></div>
    <hr/>
    <div class="comment-container">
        <div class="comment-heading"><h4>Komentari:</h4></div>
        <div>

            @Html.Partial("_AddComment", Model.NoviKomentar)

            <div id="komentari">
                @Html.Partial("_Komentari", Model)
            </div>
        </div>
    </div>
</div>
