﻿@model IEnumerable<SkolskaBibliotekaDBContext.Knjiga>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PicPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Izdavac.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Signatura.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UDK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PDFPath)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PicPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Izdavac.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Signatura.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UDK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumIzdavanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PDFPath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.KnjigaID }) |
                @Html.ActionLink("Details", "Details", new { id = item.KnjigaID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.KnjigaID })
            </td>
        </tr>
    }

</table>
