﻿@model SkolskaBiblioteka.ViewModels.ReportZaPrikaz

@using SkolskaBiblioteka.ViewModels

@{
    ViewBag.Title = "Пријава коментара";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/css")
@*@Scripts.Render("~/bundles/modernizr")*@
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/ico" href="~/Images/favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery-ajax")
@Scripts.Render("~/bundles/bootstrap")
<link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css" />



<div class="container">
    @Html.Partial("_Komentar", Model.kzp)

    @using (Html.BeginForm("Report", "Library", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()



            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            @Html.Hidden("KomentarId", Model.kzp.KomentarID)


            @Html.Label("Разлог за пријаву:")
            @Html.TextBoxFor(x => x.report.Tekst, new { @class = "form-control", @placeholder = "Превише увредљивих речи, спам.", @type = "search" })
            @Html.ValidationMessageFor(x => x.report.Tekst)


            <input type="submit" value="Пошаљи" class="btn btn-custom" />

    }
</div>