﻿
@{
    ViewBag.Title = "Пријава успешна";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/css")
@*@Scripts.Render("~/bundles/modernizr")*@
<link href="~/Content/sweetalert.css" rel="stylesheet" />

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery-ajax")
@Scripts.Render("~/bundles/bootstrap")

<div class="container">
    <p>Успешно сте пријавили коментар. Хвала на сарадњи.</p>
    <p>Можете затворити овај прозор.</p>

    <button onclick="window.close();" class="btn btn-default">Затвори</button>
</div>