﻿@model SkolskaBibliotekaDBContext.Knjiga

@{
    ViewBag.Title = "Књига - Обриши";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Књига - Обриши</h1>
    </div>
</div>

<h3>Да ли сте сигурну да жеите да обришете ову књигу?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Izdavac.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Izdavac.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Signatura.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Signatura.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumIzdavanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PDFPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PDFPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PapirnoIzdanje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PapirnoIzdanje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.KnjigaID)
        <div class="form-actions no-color">
            <input type="submit" value="Обриши" class="btn btn-default" /> |
            @Html.ActionLink("Назад на листу", "Index")
        </div>
    }
</div>
