﻿@model SkolskaBibliotekaDBContext.Knjiga

@{
    ViewBag.Title = "Књига - Детаљи";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Књига - Детаљи</h1>
    </div>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PicPath)
        </dt>

        <dd>
            <img src="@Model.PicPath" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Izdavac.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Izdavac.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Signatura.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Signatura.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumIzdavanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PDFPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PDFPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PapirnoIzdanje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PapirnoIzdanje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt>
            Аутор
        </dt>

        <dd>
            @foreach (var a in Model.Autor)
            {
                <a href="@Url.Action("Details", "Author", new { area = "Admin", id = a.AutorID })">
                    @(a.Ime + " " + a.Prezime)
                </a>
                <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
            }
        </dd>
    </dl>
</div>

@Html.Partial("../Copy/_CopyList", Model.Primerak)

<br />

<p>
    @Html.ActionLink("Измени", "Edit", new { id = Model.KnjigaID }) |
    @Html.ActionLink("Обриши", "Delete", new { id = Model.KnjigaID }) |
    @Html.ActionLink("Назад на листу", "Index")
</p>
