﻿@model IEnumerable<SkolskaBibliotekaDBContext.Knjiga>

@{
    ViewBag.Title = "Књиге";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Књиге @Html.ActionLink("Додај", "Create", null, new { @class = "btn btn-default" })</h1>
    </div>
</div>

<div class="row">
    <div style="overflow:auto;">
        <table class="table table-responsive">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    Слика
                </th>
                <th>
                    Издавач
                </th>
                <th>
                    Сигнатура
                </th>
                <th>
                    Издато
                </th>
                <th>
                    Преузимање
                </th>
                <th>
                    Папирно издање
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        <img src="@item.PicPath" width="32" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Izdavac.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Signatura.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumIzdavanja)
                    </td>
                    <td>
                        <a href="@item.PDFPath" class="btn btn-default">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        @if (item.PapirnoIzdanje == true)
                        {
                            <i class="fa fa-check" aria-hidden="true"></i>
                        }
                        else
                        {
                            <i class="fa fa-times" aria-hidden="true"></i>
                        }
                    </td>

                    <td>
                        @Html.ActionLink("Измени", "Edit", "Book", new { id = item.KnjigaID }, null) |
                        @Html.ActionLink("Детаљи", "Details", "Book", new { id = item.KnjigaID }, null) |
                        @Html.ActionLink("Обриши", "Delete", "Book", new { id = item.KnjigaID }, null)
                    </td>
                </tr>
            }

        </table>
    </div>

    @if (ViewBag.PageCount != null)
    {
        <nav>
            <ul class="pagination">
                <li class="@((ViewBag.HasPrevious) ? "" : "disabled")">
                    <a href="@Url.Action("Index", "Book", new { area = "Admin" })?p=@(ViewBag.PageNumber-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (var i = 1; i <= ViewBag.PageCount; i++)
                {
                    if (ViewBag.PageNumber == i)
                    {
                        <li class="active"><a href="@Url.Action("Index", "Book", new { area = "Admin" })?p=@i">@i <span class="sr-only">(current)</span></a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index", "Book", new { area = "Admin" })?p=@i">@i</a></li>
                    }
                }
                <li class="@((ViewBag.HasNext) ? "" : "disabled")">
                    <a href="@Url.Action("Index", "Book", new { area = "Admin" })?p=@(ViewBag.PageNumber-1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
</div>