﻿@model SkolskaBibliotekaDBContext.Izdavac

@{
    ViewBag.Title = "Издавач - Детаљи";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Издавач - Детаљи</h1>
    </div>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

    </dl>
</div>

@Html.Partial("../Book/Index", Model.Knjiga)

<br />

<p>
    @Html.ActionLink("Измени", "Edit", new { id = Model.IzdavacID }) |
    @Html.ActionLink("Обриши", "Delete", new { id = Model.IzdavacID }) |
    @Html.ActionLink("Назад на листу", "Index")
</p>
