﻿@model IEnumerable<SkolskaBibliotekaDBContext.Izdavac>

@{
    ViewBag.Title = "Издавачи";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Издавачи @Html.ActionLink("Додај", "Create", null, new { @class = "btn btn-default" })</h1>
    </div>
</div>
<div style="overflow:auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.ActionLink("Измени", "Edit", new { id = item.IzdavacID }) |
                    @Html.ActionLink("Детаљи", "Details", new { id = item.IzdavacID }) |
                    @Html.ActionLink("Обриши", "Delete", new { id = item.IzdavacID })
                </td>
            </tr>
        }

    </table>
    </div>
    <nav>
        <ul class="pagination">
            <li class="@((ViewBag.HasPrevious) ? "" : "disabled")">
                <a href="@Url.Action("Index", "Publisher", new { area = "Admin"})?p=@(ViewBag.PageNumber-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (var i = 1; i <= ViewBag.PageCount; i++)
            {
                if (ViewBag.PageNumber == i)
                {
                    <li class="active"><a href="@Url.Action("Index", "Publisher", new { area = "Admin"})?p=@i">@i <span class="sr-only">(current)</span></a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Index", "Publisher", new { area = "Admin"})?p=@i">@i</a></li>
                }
            }
            <li class="@((ViewBag.HasNext) ? "" : "disabled")">
                <a href="@Url.Action("Index", "Publisher", new { area = "Admin"})?p=@(ViewBag.PageNumber-1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
