﻿@model SkolskaBibliotekaDBContext.Korisnik

@{
    ViewBag.Title = "Корисници - Детаљи";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Корисници - Детаљи</h1>
    </div>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PicPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicPath)
            @if(!String.IsNullOrEmpty(Model.PicPath))
            {
                <br />
                <img src="@Url.Content("~" + Model.PicPath)" style="max-width: 128px;"/>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaticniBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaticniBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BarCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClanskaKartaBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClanskaKartaBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordSalt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordSalt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginAttempt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginAttempt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockedDateTime)
        </dd>

    </dl>
</div>

@Html.Partial("../Reservation/Index", Model.Rezervacije)

<br />

@Html.Partial("../OnReading/_OnReadingList", Model.Na_Citanju)

<br />

@Html.Partial("../Comment/Index", Model.Komentar)

<br />

<p>
    @Html.ActionLink("Измени", "Edit", new { id = Model.KorisnikID }) |
    @Html.ActionLink("Обриши", "Delete", new { id = Model.KorisnikID }) |
    @Html.ActionLink("Назад на листу", "Index")
</p>
