﻿@model IEnumerable<SkolskaBibliotekaDBContext.ObavestenjeKorisnik>

@{
    ViewBag.Title = "Послате поруке админу";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Послате поруке админу</h1>
    </div>
</div>
<div style="overflow:auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KorisnikID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeenDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "User", new { area = "Admin", id = item.KorisnikID })">
                        @Html.DisplayFor(modelItem => item.Korisnik.Username)
                    </a>
                </td>
                <td>
                    @if (item.Seen.HasValue)
                {
                    if (item.Seen.Value)
                    {
                            <i class="fa fa-check" aria-hidden="true"></i>
                        }
                        else
                        {
                            <i class="fa fa-times" aria-hidden="true"></i>
                        }
                    }
                    else
                    {
                        <i class="fa fa-times" aria-hidden="true"></i>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeenDate)
                </td>
                <td>
                    @Html.ActionLink("Измени", "Edit", new { id = item.ObavestenjeKorisnikID }) |
                    @Html.ActionLink("Детаљи", "Details", new { id = item.ObavestenjeKorisnikID }) |
                    @Html.ActionLink("Обриши", "Delete", new { id = item.ObavestenjeKorisnikID })
                </td>
            </tr>
        }

    </table>
</div>
<nav>
    <ul class="pagination">
        <li class="@((ViewBag.HasPrevious) ? "" : "disabled")">
            <a href="@Url.Action("Admin", "UserNotification", new { area = "Admin" })?p=@(ViewBag.PageNumber-1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (var i = 1; i <= ViewBag.PageCount; i++)
            {
                if (ViewBag.PageNumber == i)
                {
                <li class="active"><a href="@Url.Action("Admin", "UserNotification", new { area = "Admin" })?p=@i">@i <span class="sr-only">(current)</span></a></li>
            }
            else
            {
                <li><a href="@Url.Action("Admin", "UserNotification", new { area = "Admin" })?p=@i">@i</a></li>
            }
        }
        <li class="@((ViewBag.HasNext) ? "" : "disabled")">
            <a href="@Url.Action("Admin", "UserNotification", new { area = "Admin" })?p=@(ViewBag.PageNumber-1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
