﻿@model SkolskaBibliotekaDBContext.ObavestenjeKorisnik

@{
    ViewBag.Title = "Послата порука - Обриши";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Послата порука - Обриши</h1>
    </div>
</div>

<h3>Да ли сте сигурни да желите да обришете обу послату поруку?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KorisnikID)
        </dt>

        <dd>
            <a href="@Url.Action("Details", "User", new { area = "Admin", id = Model.KorisnikID })">
                @Html.DisplayFor(model => model.Korisnik.Username)
            </a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obavestenje.Tekst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obavestenje.Tekst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeenDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Обриши" class="btn btn-default" /> |
            @Html.ActionLink("Назад на листу", "Index")
        </div>
    }
</div>
