﻿@model SkolskaBibliotekaDBContext.ObavestenjeKorisnik

@{
    ViewBag.Title = "Послата порука - Детаљи";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Послата порука - Детаљи</h1>
    </div>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KorisnikID)
        </dt>

        <dd>
            <a href="@Url.Action("Details", "User", new { area = "Admin", id = Model.KorisnikID })">
                @Html.DisplayFor(model => model.Korisnik.Username)
            </a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obavestenje.Tekst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obavestenje.Tekst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeenDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumSlanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumSlanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Измени", "Edit", new { id = Model.ObavestenjeKorisnikID }) |
    @Html.ActionLink("Обриши", "Delete", new { id = Model.ObavestenjeKorisnikID }) |
    @Html.ActionLink("Назад на листу", "Index")
</p>
