﻿@model SkolskaBibliotekaDBContext.ObavestenjeKorisnik

@{
    ViewBag.Title = "Послата порука - Измена";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Послата порука - Измена</h1>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ObavestenjeKorisnikID)
        @Html.HiddenFor(model => model.Seen)
        @Html.HiddenFor(model => model.SeenDate)        

        <div class="form-group">
            @Html.LabelFor(model => model.KorisnikID, "KorisnikID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.KorisnikID, (List<SelectListItem>)ViewBag.Korisnici, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KorisnikID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ObavestenjeID, "ObavestenjeID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ObavestenjeID, (IEnumerable<SelectListItem>)ViewBag.Obavestenja, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ObavestenjeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatumSlanja, "DatumSlanja", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatumSlanja, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DatumSlanja, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сачувај" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Нaзад на листу", "Index")
</div>
