﻿@model SkolskaBibliotekaDBContext.ObavestenjeKorisnik

@{
    ViewBag.Title = "Пошаљи свима";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Слање поруке свима</h1>
    </div>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ObavestenjeID, "ObavestenjeID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ObavestenjeID, (List<SelectListItem>)ViewBag.Obavestenja, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ObavestenjeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сачувај" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад на листу", "Index")
</div>
