﻿@model PagedList.IPagedList<SkolskaBiblioteka.ViewModels.KnjigaZaPrikaz>
@using PagedList.Mvc
@using SkolskaBiblioteka.ViewModels

@if (Model != null)
{
    if (Model.Count > 0) {
        foreach (KnjigaZaPrikaz k in Model)
        {
        <div class="col-md-3 col-sm-4 col-xs-6 col-lg-2" onclick="location.href = '@(Url.Action("Book", "Library", new { id = k.KnjigaID }))'">
            <div class="book-search-result">
                <div class="book-search-result-name overflow-elipsis">
                    @k.Naziv
                </div>
                <div class="overflow-elipsis">
                    @{
                        string s = "";
                        if (k.Autori.Count > 0)
                        {
                            s = k.Autori[0];
                            for (int i = 1; i < k.Autori.Count; i++)
                            {
                                s += ", " + k.Autori[i];
                            }
                        }
                        else
                        {
                            s = "Непознати аутор";
                        }

                        int oc = k.Ocena * 2;
                    }
                    @Html.Raw(s)
                </div>
                <div class="book-search-result-image">

                    <img style="max-width:160px; width:100%; max-height:210px; height:210px;" src="@Url.Content(@k.PicPath)" />

                </div>
                @*<div class="rating-stars">
                    <div class="star-container">
                        @if (k.Ocena == 5)
                        {
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        }
                        @if (k.Ocena == 4)
                        {
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        }
                        @if (k.Ocena == 3)
                        {
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        }
                        @if (k.Ocena == 2)
                        {
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        }
                        @if (k.Ocena == 1)
                        {
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        }
                        @if (k.Ocena == 0)
                        {
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        }
                    </div>
                </div>*@
                <div>
                    @if ((bool)k.PapirnoIzdanje)
                    {
                        @Html.Raw("Папирно и ел. издање")
                    }
                    else
                    {
                        @Html.Raw("Само ел. издање")
                    }
                </div>
                <div>
                    @if (k.DatumIzdavanja.HasValue)
                    {
                        @Html.Raw(k.Izdavac + " " + k.DatumIzdavanja.Value.Year)
                    }
                </div>
            </div>
        </div>
                                }
                            }
                        }
                        else
                        {
                            <p> За задате параметре није могуће пронаћи књигу</p>
                        }
<div style="clear:both"></div>
        Страна @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) од @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Search", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "searchResults" }))


