﻿@model PagedList.IPagedList<SkolskaBiblioteka.ViewModels.KnjigaZaPrikaz>
@using PagedList.Mvc
@using SkolskaBiblioteka.ViewModels


@{
    ViewBag.Title = "Претрага";
    ViewBag.Current = "Search";
    SearchParams parametri = new SearchParams();

}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@*@Html.Partial("_SearchCriteria", new SkolskaBiblioteka.ViewModels.SearchParams())*@



<div class="container form-container">
    <div class="">
        <br />
        <h4>Детаљна претрага</h4>
        <hr />
        @using (Ajax.BeginForm("Search", "Search", new AjaxOptions { UpdateTargetId = "searchResults", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }, new { @class = "search-form", @method = "get" }))
        {
            <div class="col-md-6 form-group row">
                @Html.Label("Наслов:", new { @class = "col-md-4 form-control-lable profile-info-name" })
                <div class="col-md-12 profile-info-value">
                    @Html.TextBox("NameString", parametri.Naslov, new { @class = "input-streach", @placeholder = "", @type = "search" })
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="col-md-6 form-group row">
                @Html.Label("Име аутора:", new { @class = "col-md-4 form-control-lable profile-info-name" })
                <div class="col-md-12 profile-info-value">
                    @Html.TextBox("AutorString", parametri.ImeAutora, new { @class = "input-streach", @placeholder = "", @type = "search" })
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="col-md-6 form-group row">
                @Html.Label("Назив издавача:", new { @class = "col-md-4 form-control-lable profile-info-name" })
                <div class="col-md-12 profile-info-value">
                    @Html.TextBox("IzdavacString", parametri.ImeIzdavaca, new { @class = "input-streach", @placeholder = "", @type = "search" })
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="col-md-6 form-group row">
                @Html.Label("Жанр:", new { @class = "col-md-4 form-control-lable profile-info-name" })
                <div class="col-md-12 profile-info-value">
                    @Html.TextBox("ZanrString", parametri.Signatura, new { @class = "input-streach", @placeholder = "", @type = "search" })
                </div>
            </div>
            <div style="clear:both;"></div>

            <div class="col-md-6 form-group row">
                @Html.Label("Година издања:", new { @class = "col-md-4 form-control-lable profile-info-name" })
                <div class="col-md-12 profile-info-value">
                    @Html.TextBox("GodinaInt", parametri.GodinaIzanja, new { @class = "input-streach", @placeholder = "", @type = "number", @min="1900", @max=DateTime.Now.Year.ToString()})
                </div>
            </div>
            <div style="clear:both;"></div>

            <div class="col-md-6 form-group row">
                @Html.Label("Издање:", new { @class = "col-md-4 form-control-lable profile-info-name" })
                <div class="col-md-12 profile-info-value">
                    @Html.RadioButton("Izdanje", "Oba",true) Оба
                    @Html.RadioButton("Izdanje", "Papirno") Папирно
                    @Html.RadioButton("Izdanje", "Elektronsko") Електронско
                    
                </div>
            </div>
            <div style="clear:both;"></div>
            <input type="submit" class="btn-custom btn col-md-1 col-sm-2" value="Претражи">
        }
    </div>
</div>

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#NameString').autocomplete({
            source: '@Url.Action("AutocompleteNaslov")'
        });
    });

    $(document).ready(function () {
        $('#AutorString').autocomplete({
            source: '@Url.Action("AutocompleteAutor")'
        });
    });

    $(document).ready(function () {
        $('#IzdavacString').autocomplete({
            source: '@Url.Action("AutocompleteIzdavac")'
        });
    });

    $(document).ready(function () {
        $('#ZanrString').autocomplete({
            source: '@Url.Action("AutocompleteSignatura")'
        });
    });

    

    $('#GodinaInt').keypress(function () {
        if ($(this).val().length >= 4) {
            $(this).val($(this).val().slice(0, 4));
            return false;
        }
    });
</script>

<div class="container">

    <div id="searchResults">

        @Html.Partial("_Search", Model)

    </div>

</div>
