﻿@{
    ViewBag.Title = "О нама";
}

<div class="container about-container">

    <div class="about-text-container">
        <h4><strong>О нама</strong></h4>
        <p>еБиблиотека је веб решење за мање или средње библиотеке.</p>
        <p><strong>Коришћена технологија</strong></p>
        <p>еБиблиотека је писана у C# ASP.Net са МVC framework-ом. Комуникација с базом остварена је преко Entity framework-a.</p>
        <p>Front-End део имплементиран је са Bootstrap framework-ом i jQuery библиотеком.</p>
        <p><strong>Тим</strong></p>
        <p>
            <ul>
                <li><b>Стефан Петковић</b> <span class="text-muted">(База података и Back-End)</span></li>
                <li><b>Дарко Митић</b> <span class="text-muted">(Front-End и Back-End)</span></li>
                <li><b>Милан Тончић</b> <span class="text-muted">(Back-End и база података)</span></li>
                <li><b>Никола Миленковић</b> <span class="text-muted">(Дизајн)</span></li>
                <li><b>Александар Стојадиновић</b> <span class="text-muted">(Техничка документација)</span></li>
                <li><b>Владимир Вељковић</b> <span class="text-muted">(Техничка подршка пројекта)</span></li>
                <li><b>Предраг Алексов</b> <span class="text-muted">(Техничка подршка пројекта)</span></li>
                <li><b>Дејан Банковић</b> <span class="text-muted">(Ментор, дизајн, Q/A)</span></li>
            </ul>
        </p>
    </div>

    <div class="about-contact-container">
        <div class="about-contact-q">
            Имаш проблем или идеју за побољшање веб сајта?
        </div>
        <div class="about-contact-a">
            Обрати се администратору:<br />
        </div>
        <a class="btn btn-custom" href="@Url.Action("Contact","Notification")">Порука</a>
    </div>
</div>
