﻿@model SkolskaBiblioteka.ViewModels.IndexZaPrikaz
@{
    ViewBag.Title = "Почетна";
}

@using SkolskaBiblioteka.ViewModels

@Html.Partial("_SimpleSearch")

@if (Model.Knjige.Count > 0)
{


    <div class="latest-books container">
        <h4 class="subheading">ПОСЛЕДЊЕ ДОДАТЕ КЊИГЕ</h4>
        <hr style="width: 120px;background-color: #999;height: 2px; border:none; margin-bottom:60px;">

        @foreach (KnjigaZaPrikaz k in Model.Knjige)
        {
            <div class="col-md-3 col-sm-6 col-xs-12 latest-books-item">
                <img class="latest-books-item-pic" src="@Url.Content(k.PicPath)" /><br />
                <a class="no-decoration" href="@Url.Action("Book", "Library", new { id=k.KnjigaID })"><p class="latest-books-item-heading overflow-elipsis">@k.Naziv  </p></a>
            </div>
        }
    </div>
    <div style="clear:both;"></div>
}

@if (Model.Komentari.Count > 0)
{
    <div class="top-comments container">
        <h4 class="subheading">ОМИЉЕНИ КОМЕНТАРИ</h4>
        <hr style="width: 120px;background-color: #999;height: 2px; border:none; margin-bottom:60px;">
        <div class="row">
            @foreach (KomentarZaPrikaz kzp in Model.Komentari)
            {

                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                    <div class="thumbnail">
                        <a class="comment-link-pic" href="@Url.Action("Profile", "Account", new { id = kzp.KorisnikID })">
                            <img class="thumbnail-pic" src="@Url.Content("~" + kzp.PicPath)" />
                        </a>
                        
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="comment-link-name no-decoration" href="@Url.Action("Profile", "Account", new { id = kzp.KorisnikID })"><strong>@kzp.Ime @kzp.Prezime:</strong></a><br/>
                            <div class="top-comment-book-heading-container">за књигу:<a href="@Url.Action("Book", "Library", new { id = kzp.KnjigaID })" class="no-decoration top-comment-book-heading">@kzp.Naslov</a></div>
                        </div>
                        
                        <div class="panel-body overflow-elipsis">
                            @kzp.KomentarText
                        </div>
                        <div class="panel-footer">
                            @if (kzp.AdditionalInfo)
                    {

                                <p style="margin:0px;">
                                    <strong> Оцена:</strong> @kzp.VoteUp <span class="vote-up">👍</span> @kzp.VoteDown <span class="vote-down">👎</span>
                                </p>

                            }
                        </div>
                    </div>
                </div>

            }
        </div>
        <div style="clear:both;"></div>
    </div>
}