﻿@model SkolskaBiblioteka.ViewModels.ObavestenjeZaPrikaz

@{
    ViewBag.Title = "Обавештење";
}

<div>
    <h4>Обавештење</h4>
    <hr />
    <div class="notification-message">

        @{
            string date = Model.PostDate.ToString("d/M/yyyy hh:mm");
        }
        @if (ViewBag.ind != 4)
        {
            <h3>Примљено од @Model.Kreator (@date):</h3>
        }
        else
        {
            <h3>Порука послата администратору (@date):</h3>
        }

        @Html.DisplayFor(model => model.Tekst)
    </div>
</div>
