﻿@model IEnumerable<SkolskaBiblioteka.ViewModels.ObavestenjeZaPrikaz>

@if (Model.Count() != 0)
{

    if (ViewBag.ind != 4)
    {
        if (ViewBag.ind == 1)
        {
            <div class="notification-messages"><p>Приказане су све примљене поруке.</p></div>
        }
        if (ViewBag.ind == 2)
        {
            <div class="notification-messages"><p>Приказане су нове примљене поруке.</p></div>
        }
        if (ViewBag.ind == 3)
        {
            <div class="notification-messages"><p>Приказане су старе примљене поруке.</p></div>
        }


        <table class="table">

            <tr>
                <th class="notification-delete"></th>
                <th class="notification-read"></th>
                <th class="notification-creator">Примљено од</th>
                <th class="notification-text">Порука</th>
                <th class="notification-date">Датум</th>
            </tr>

            @foreach (var item in Model)
            {
                string date="";
                if(item.PostDate.HasValue)
                { 
                    date = ((DateTime)item.PostDate).ToString();
                }

                if (item.Seen != true)
                {
                    <tr class="notification">
                        <td class="notification-delete">
                            @using (Ajax.BeginForm("Delete", "Notification", new { id = item.ObavestenjeKorisnikID, ind = ViewBag.ind }, new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "obavestenja",
                                InsertionMode = InsertionMode.Replace
                            }))
                            {
                                <button type="submit"><span class="glyphicon glyphicon-trash"></span></button>
                            }
                        </td>
                        <td class="notification-read-new">
                            @using (Ajax.BeginForm("Details", "Notification", new { id = item.ObavestenjeKorisnikID }, new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "obavestenja",
                                InsertionMode = InsertionMode.Replace
                            }))
                            {
                                <button type="submit"><span class="glyphicon glyphicon-eye-open"></span></button>
                            }
                        </td>
                        <td class="notification-creator">
                            @Html.DisplayFor(modelItem => item.Kreator)
                        </td>
                        <td class="notification-text">
                            @Html.DisplayFor(modelItem => item.Tekst)
                        </td>
                        <td class="notification-date">
                            @date
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="notification notification-old">
                        <td class="notification-delete">
                            @using (Ajax.BeginForm("Delete", "Notification", new { id = item.ObavestenjeKorisnikID, ind = ViewBag.ind }, new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "obavestenja",
                                InsertionMode = InsertionMode.Replace
                            }))
                            {
                                <button type="submit"><span class="glyphicon glyphicon-trash"></span></button>
                            }
                        </td>
                        <td class="notification-read-old">
                            @using (Ajax.BeginForm("Details", "Notification", new { id = item.ObavestenjeKorisnikID }, new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "obavestenja",
                                InsertionMode = InsertionMode.Replace
                            }))
                            {
                                <button type="submit"><span class="glyphicon glyphicon-eye-open"></span></button>
                            }
                        </td>
                        <td class="notification-creator">
                            @Html.DisplayFor(modelItem => item.Kreator)
                        </td>
                        <td class="notification-text">
                            @Html.DisplayFor(modelItem => item.Tekst)
                        </td>
                        <td class="notification-date">
                            @date
                        </td>
                    </tr>
                }
            }
        </table>
    }
    else
    {

        <div class="notification-messages"><p>Приказане су поруке упућене администраторима. Поруке ће бити прочитане у најкраћем року.</p></div>
        <table class="table">

            <tr>
                <th class="notification-read"></th>
                <th class="notification-creator">Послато према</th>
                <th class="notification-text">Порука</th>
                <th class="notification-date">Датум</th>
            </tr>

            @foreach (var item in Model)
            {
                string date = "";
                if (item.PostDate.HasValue)
                {
                    date = ((DateTime)item.PostDate).ToString();
                }
                <tr class="notification">
                    <td class="notification-read-new">
                        @using (Ajax.BeginForm("Details", "Notification", new { id = item.ObavestenjeKorisnikID }, new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "obavestenja",
                            InsertionMode = InsertionMode.Replace
                        }))
                        {
                            <button type="submit"><span class="glyphicon glyphicon-eye-open"></span></button>
                        }
                    </td>
                    <td class="notification-creator">
                        Administrator
                    </td>
                    <td class="notification-text">
                        @Html.DisplayFor(modelItem => item.Tekst)
                    </td>
                    <td class="notification-date">
                        @date
                    </td>
                </tr>
            }
        </table>
    }
}
else
{
    <div class="notification-messages"><p>Нема порука за приказ.</p></div>
}