﻿@model SkolskaBibliotekaDBContext.Obavestenje

@using (Html.BeginForm())
{

    ViewBag.Title = "Порука за администратора";


    @Html.AntiForgeryToken()

    <div class="contact-container container">
        <h4>Порука за администратора</h4><br/>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="contact-input-container">
            @Html.LabelFor(model => model.Tekst)
            @Html.TextAreaFor(model => model.Tekst)
            @Html.ValidationMessageFor(model => model.Tekst, "", new { @class = "text-danger" })
        </div>

        <input type="submit" value="ПОШАЉИ" class="btn btn-custom" />
        
    </div>
}
