﻿@model IEnumerable<SkolskaBiblioteka.ViewModels.ObavestenjeZaPrikaz>

@{
    ViewBag.Title = "Обавештења";
}

<div class="notification-container">
    <div class="notification-menu">

        <div class="notification-menu-item">
            @Ajax.ActionLink("Све", "AllNotifications", new AjaxOptions { UpdateTargetId = "obavestenja", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" })
        </div>

        <div class="notification-menu-item">
            @Ajax.ActionLink("Ново", "NewNotifications", new AjaxOptions { UpdateTargetId = "obavestenja", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" })
        </div>

        <div class="notification-menu-item">
            @Ajax.ActionLink("Старо", "SeenNotifications", new AjaxOptions { UpdateTargetId = "obavestenja", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" })
        </div>

        <div class="notification-menu-item">
            @Ajax.ActionLink("Послато", "SentNotifications", new AjaxOptions { UpdateTargetId = "obavestenja", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" })
        </div>

    </div>
    <div id="obavestenja" class="notification-items">
        @Html.Partial("_Obavestenja", Model)
    </div>
    <div style="clear:both;"></div>
</div>
