﻿@model SkolskaBibliotekaDBContext.Rezervacije

@{
    ViewBag.Title = "Резервација - Брисање";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Резервација - Брисање</h1>
    </div>
</div>

<h3>Да ли сте сигурни да желите да обришете ову резервацију?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Knjiga.UDK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knjiga.UDK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Korisnik.MaticniBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik.MaticniBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimerakID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerakID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumPocetkaRezervacije)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumPocetkaRezervacije)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumIstekaRezervacije)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumIstekaRezervacije)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validna)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Обриши" class="btn btn-default" /> |
            @Html.ActionLink("Назад на листу", "Index")
        </div>
    }
</div>
