﻿@model SkolskaBibliotekaDBContext.Rezervacije

@{
    ViewBag.Title = "Резервација - Детаљи";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Резервација - Детаљи</h1>
    </div>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Knjiga.UDK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knjiga.UDK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Korisnik.MaticniBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik.MaticniBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimerakID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerakID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumPocetkaRezervacije)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumPocetkaRezervacije)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumIstekaRezervacije)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumIstekaRezervacije)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validna)
        </dd>

        <dt></dt>
        <dd>
            @using (Html.BeginForm("Create", "OnReading", FormMethod.Post))
            {
                @Html.Hidden("username", Model.Korisnik.Username)
                @Html.Hidden("primerakId", Model.PrimerakID)
                <button type="submit" value="Submit" class="btn btn-default">Додај на читање</button>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Измени", "Edit", new { id = Model.RezervacijeID }) |
    @Html.ActionLink("Обриши", "Delete", new { id = Model.RezervacijeID }) |
    @Html.ActionLink("Назад на листу", "Index")
</p>
