﻿@model SkolskaBibliotekaDBContext.Rezervacije

@{
    ViewBag.Title = "Резервација - Измени";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Резервација - Измени</h1>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RezervacijeID)

        <div class="form-group">
            @Html.LabelFor(model => model.KnjigaID, "KnjigaID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.KnjigaID, (List<SelectListItem>)ViewBag.Knjige, new { @class = "form-control", @onchange = "loadCopies()" })
                @Html.ValidationMessageFor(model => model.KnjigaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KorisnikID, "KorisnikID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.KorisnikID, (List<SelectListItem>)ViewBag.Korisnici, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KorisnikID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrimerakID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PrimerakID, (List<SelectListItem>)ViewBag.Primerci, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PrimerakID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatumPocetkaRezervacije, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatumPocetkaRezervacije, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DatumPocetkaRezervacije, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatumIstekaRezervacije, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatumIstekaRezervacije, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DatumIstekaRezervacije, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Validna, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Validna)
                    @Html.ValidationMessageFor(model => model.Validna, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад на листу", "Index")
</div>

<script type="text/javascript">
    function loadCopies() {
        var id = $('#KnjigaID').val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetAllByBook", "Copy", new { area = "Admin" })',
            dataType: 'json',
            data: {
                knjigaID: id
            },
            success:
                function (copies) {
                    $('#PrimerakID').html('');
                    $.each(copies, function (i, copy) {
                        $('#PrimerakID').append('<option value=' + copy.Value + '>' + copy.Text + '</option>')
                    });
                },
            error:
                function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
        });
    }
</script> 
