﻿@model IEnumerable<SkolskaBibliotekaDBContext.Rezervacije>

@{
    ViewBag.Title = "Активне резервације - Претрага";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Активне резервације - Претрага</h1>
    </div>
</div>

@using (Html.BeginForm("Search", "Reservation", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label for="x">Корисник</label>
        @Html.TextBox("username", "", new { @class = "form-control", @placeholder = "user213" })
    </div>
    <button type="submit" class="btn btn-default">Нађи</button>
}

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Knjiga.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KorisnikID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimerakID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Validna)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Book", new { area = "Admin", id = item.KnjigaID })">
                    @Html.DisplayFor(modelItem => item.Knjiga.Naziv)
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", "User", new { area = "Admin", id = item.KorisnikID })">
                    @Html.DisplayFor(modelItem => item.Korisnik.Username)
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Copy", new { area = "Admin", id = item.PrimerakID })">
                    @Html.DisplayFor(modelItem => item.PrimerakID)
                </a>
            </td>
            <td>
                @if (item.Validna == true)
                {
                    <i class="fa fa-check" aria-hidden="true"></i>
                }
                else
                {
                    <i class="fa fa-times" aria-hidden="true"></i>
                }
            </td>
            <td>
                @Html.ActionLink("Измени", "Edit", new { id = item.RezervacijeID }) |
                @Html.ActionLink("Детаљи", "Details", new { id = item.RezervacijeID }) |
                @Html.ActionLink("Обриши", "Delete", new { id = item.RezervacijeID })
            </td>
        </tr>
    }

</table>

<nav>
    <ul class="pagination">
        <li class="@((ViewBag.HasPrevious) ? "" : "disabled")">
            <a href="@Url.Action("Search", "Reservation", new { area = "Admin"})?p=@(ViewBag.PageNumber-1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (var i = 1; i <= ViewBag.PageCount; i++)
        {
            if (ViewBag.PageNumber == i)
            {
                <li class="active"><a href="@Url.Action("Search", "Reservation", new { area = "Admin"})?p=@i">@i <span class="sr-only">(current)</span></a></li>
            }
            else
            {
                <li><a href="@Url.Action("Search", "Reservation", new { area = "Admin"})?p=@i">@i</a></li>
            }
        }
        <li class="@((ViewBag.HasNext) ? "" : "disabled")">
            <a href="@Url.Action("Search", "Reservation", new { area = "Admin"})?p=@(ViewBag.PageNumber-1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

