﻿@using SkolskaBiblioteka.ViewModels
@model List<SkolskaBiblioteka.ViewModels.NaCitanjuZaPrikaz>
@using System.Globalization


@if (Model.Count > 0)
{
    var cultSr = CultureInfo.GetCultureInfoByIetfLanguageTag("sr-Cyrl-CS");

    <table class="table profile-table">

        <tr>
            <th>
                Наслов
            </th>
            <th>
                Узето
            </th>
            <th>
                Враћено
            </th>
            <th>
                Рок
            </th>
        </tr>



        @foreach (NaCitanjuZaPrikaz p in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => p.Naziv)
                </td>
                <td>
                    @p.DatumUzimanja.ToString("d/M/yyyy/", cultSr)
                </td>
                <td>
                    @{
                        if (p.DatumVracanja != null)
                        {
                            ((DateTime)p.DatumVracanja).ToString("d/M/yyyy/", cultSr);
                        }
                        else
                        {
                            <span>Није враћена.</span>
                        }
                    }
                </td>
                <td>

                        @p.RokZaVracanje.Value.ToString("d/M/yyyy/", cultSr)

                </td>
            </tr>
                        }
    </table>
                        }