﻿@using SkolskaBiblioteka.ViewModels
@model List<SkolskaBiblioteka.ViewModels.RezervacijeZaPrikaz>
@using System.Globalization

@if (Model.Count > 0)
{
    var cultSr = CultureInfo.GetCultureInfoByIetfLanguageTag("sr-Cyrl-CS");

    <table class="table profile-table">

        <tr>
            <th>
                Наслов
            </th>
            <th>
                Почетак
            </th>
            <th>
                Истек
            </th>
        </tr>

        @foreach (RezervacijeZaPrikaz p in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => p.Naziv)
                </td>
                <td>
                    @p.DatumPocetkaRezervacije.ToString("d/M/yyyy/", cultSr)
                </td>
                <td>
                    @p.DatumIstekaRezervacije.ToString("d/M/yyyy/", cultSr)
                </td>

            </tr>
        }

    </table>
}