﻿@using SkolskaBiblioteka.ViewModels
@model List<SkolskaBiblioteka.ViewModels.PreuzeoZaPrikaz>
@using System.Globalization

@{
    KorisnikZaPrikaz kzp = (KorisnikZaPrikaz)Session["Korisnik"];

    var cultSr = CultureInfo.GetCultureInfoByIetfLanguageTag("sr-Cyrl-CS");
}

@if (Model.Count > 0)
{
    <table class="table profile-table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].NazivKnjige)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].VremePreuzimanja)
            </th>
        </tr>

        @foreach (PreuzeoZaPrikaz p in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => p.NazivKnjige)
                </td>
                <td>
                    @p.VremePreuzimanja.ToString("d/M/yyyy/ HH:mm:ss", cultSr)
                </td>
            </tr>
        }

    </table>
}