﻿@model SkolskaBiblioteka.ViewModels.KorisnikZaEdit

@{
    ViewBag.Title = "Измена профила";
}

<div class="container profile-editor-container">
    @using (Html.BeginForm("Edit", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Измена профила</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="profile-pic-container">
                @if (Model.PicPath != null)
                {
                    <img class="profile-pic" src="@Url.Content("~" + Model.PicPath)" />
                }

                <br />

                <div class="avatar-chooser-container">
                    <div class="avatar-preview">
                        <img class="avatar" id="avatar-preview" src="@Url.Content("~" + @Model.PicPath)" />
                    </div>
                    @Html.EditorFor(model => model.PicPath, new { htmlAttributes = new { @class = "form-control-file", @type = "file", @accept = "image/x-png, image/gif, image/jpeg", } })
                    <small class="text-muted">Додај слику по избору.</small>
                </div>

            </div>
            <div class="profile-info-container-first">

                <div class="profile-name-holder">@Html.ValueFor(x => x.Ime) @Html.ValueFor(x => x.Prezime)</div>
                <br />
                <div class="profile-info-name">@Html.LabelFor(x => x.Mesto)</div>
                <div class="profile-info-value">@Html.EditorFor(x => x.Mesto)</div>
                <br />
                <div class="profile-info-name">@Html.LabelFor(x => x.Adresa)</div>
                <div class="profile-info-value">@Html.EditorFor(x => x.Adresa)</div>
                <br />
                <div class="profile-info-name">@Html.LabelFor(x => x.Telefon)</div>
                <div class="profile-info-value">@Html.EditorFor(x => x.Telefon)</div>
                <br />
                <div class="profile-info-name">@Html.LabelFor(x => x.Email)</div>
                <div class="profile-info-value">@Html.EditorFor(x => x.Email)</div>

            </div>
            <div class="profile-info-container-second">

                <div class="profile-info-spacer"></div>
                <div class="profile-info-name">@Html.LabelFor(x => x.NewPassword)</div>
                <div class="profile-info-value">@Html.EditorFor(x => x.NewPassword, new { htmlAttributes = new { placeholder = "********" } })</div>
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                <br />
                <div class="profile-info-name">@Html.LabelFor(x => x.ConfirmNewPassword)</div>
                <div class="profile-info-value">@Html.EditorFor(x => x.ConfirmNewPassword, new { htmlAttributes = new { placeholder = "********" } })</div>
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                <br />
                <div class="profile-info-name">@Html.LabelFor(x => x.OldPassword)</div>
                <div class="profile-info-value">@Html.EditorFor(x => x.OldPassword, new { htmlAttributes = new { placeholder = "******" } })</div>
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                <br />

                <div class="profile-button-container">
                    <input type="submit" value="Сачувај измене" class="btn btn-custom" />
                    <br /><br/>
                    <a href="@Url.Action("Profile","Account")"><span class="glyphicon glyphicon-arrow-left"></span> НАЗАД</a>
                </div>

                

            </div>
            <div style="clear:both;"></div>

        </div>
    }

</div>
<script type="text/javascript">

    $('#PicPath').on('change', function (e) {
        var files = e.target.files;
        myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UploadFile","Account")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        $('#avatar-preview').attr('src', result);
                        $('#avatar-preview').attr('style', '');
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        alert(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

</script>
