﻿@model SkolskaBiblioteka.Models.LoginUserModel

@{
    ViewBag.Title = "Login";
}



@using (Html.BeginForm(new { ReturnUrl =ViewBag.ReturnUrl}))
{
    @Html.AntiForgeryToken()
    
    <div class="container login-page-container">
        <h3>Пријава или <a href="@Url.Action("Register","Account")">регистрација</a></h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <br />

        <div class="form-group row">
            @Html.Label("Корисничнко име:", htmlAttributes: new { @class = "control-label col-md-12 col-lg-12 profile-info-name" })
            <div class="col-md-12 col-lg-12 profile-info-value">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "input-streach" } })
            </div>
            <div class="col-md-12 col-lg-12">
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Лозинка:", htmlAttributes: new { @class = "control-label col-md-12 col-lg-12 profile-info-name" })
            <div class="col-md-12 col-lg-12 profile-info-value">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input-streach" } })
            </div>
            <div class="col-md-12 col-lg-12">
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                <input type="submit" value="Пријави се" class="btn btn-custom" />
            </div>
        </div>
    </div>
}
