﻿@using SkolskaBiblioteka.ViewModels
@model SkolskaBiblioteka.ViewModels.KorisnikZaPrikaz

@{
    ViewBag.Title = "Профил";
}



<div class="container">
    <div class="profile-container">


        <div class="profile-pic-container">
            <img class="profile-pic" src="@Url.Content("~" + Model.PicPath)" />

            <br />

            @if (Model.Username == ((KorisnikZaPrikaz)Session["Korisnik"]).Username)
            {
                <br />
                <a href="@Url.Action("Edit", "Account")" class="btn btn-custom">Измени профил</a>
            }

        </div>

        @if (((KorisnikZaPrikaz)Session["Korisnik"]).KorisnikId == Model.KorisnikId)
        {
            <div class="profile-info-container-first">
                <div class="profile-name-holder">@Html.ValueFor(x => x.Ime) @Html.ValueFor(x => x.Prezime)</div>
                <br />
                <div class="profile-info-name">@Html.LabelFor(x => x.MaticniBroj)</div>
                <div class="profile-info-value">@Html.DisplayTextFor(x => x.MaticniBroj)</div>
                <br />
                <div class="profile-info-name">@Html.LabelFor(x => x.ClanskaKartaBroj)</div>
                <div class="profile-info-value">@Html.DisplayTextFor(x => x.ClanskaKartaBroj)</div>
                <br />
                <div class="profile-info-name">@Html.LabelFor(x => x.Username)</div>
                <div class="profile-info-value">@Html.DisplayTextFor(x => x.Username)</div>
                <br />
                <div class="profile-info-name">@Html.LabelFor(x => x.Email)</div>
                <div class="profile-info-value">@Html.DisplayTextFor(x => x.Email)</div>
            </div>
            <div class="profile-info-container-second">

                <div class="profile-info-spacer"></div>
                <div class="profile-info-name">@Html.LabelFor(x => x.Mesto)</div>
                <div class="profile-info-value">@Html.DisplayTextFor(x => x.Mesto)</div>
                <br />
                <div class="profile-info-name">@Html.LabelFor(x => x.Adresa)</div>
                <div class="profile-info-value">@Html.DisplayTextFor(x => x.Adresa)</div>
                <br />
                <div class="profile-info-name">@Html.LabelFor(x => x.Telefon) (видљив свима)</div>
                <div class="profile-info-value">@Html.DisplayTextFor(x => x.Telefon)</div>
            </div>
        }
        else
        {
            <div class="profile-info-container-first">
                <div class="profile-name-holder">@Html.ValueFor(x => x.Ime) @Html.ValueFor(x => x.Prezime)</div>
                <br />
                <div class="profile-info-name">@Html.LabelFor(x => x.Username)</div>
                <div class="profile-info-value">@Html.DisplayTextFor(x => x.Username)</div>
                <br />
                <div class="profile-info-name">@Html.LabelFor(x => x.Email)</div>
                <div class="profile-info-value">@Html.DisplayTextFor(x => x.Email)</div>
            </div>
            <div class="profile-info-container-second">
                <div class="profile-info-spacer"></div>
                <div class="profile-info-name">@Html.LabelFor(x => x.Mesto)</div>
                <div class="profile-info-value">@Html.DisplayTextFor(x => x.Mesto)</div>
                <br />
                <div class="profile-info-name">@Html.LabelFor(x => x.Telefon)</div>
                <div class="profile-info-value">@Html.DisplayTextFor(x => x.Telefon)</div>
            </div>
        }
        <div style="clear:both;"></div>

        <hr />

        <div class="statistics-container">

            <div class="statistics-reserve" onclick="haha(Rezervisane,Procitane,Preuzete,Komentari)">

                <span class="glyphicon glyphicon-book"></span> @Model.Istorija.Rezervisane.Count
                <p>РЕЗЕРЕВАЦИЈА</p>

            </div>


            <div class="statistics-read" onclick="haha(Procitane, Rezervisane, Preuzete,Komentari)">

                <span class="glyphicon glyphicon-eye-open"></span> @Model.Istorija.NaCitanju.Count
                <p>ЧИТАЊА</p>

            </div>

            <div class="statistics-download" onclick="haha(Preuzete, Procitane, Rezervisane,Komentari)">

                <span class="glyphicon glyphicon-cloud-download"></span> @Model.Istorija.PreuzeteKnjige.Count
                <p>ПРЕУЗИМАЊА</p>

            </div>
            <div class="statistics-comment" onclick="haha(Komentari, Preuzete, Procitane, Rezervisane)">

                <span class="glyphicon glyphicon-comment"></span> @Model.Istorija.Komentari.Count
                <p>КОМЕНТАРА</p>

            </div>
        </div>
        <div style="clear:both;"></div>
    </div>

    <hr />
    <div id="tabs" class="">

        <div id="Rezervisane">
            @Html.Partial("_Rezervisane", Model.Istorija.Rezervisane)
        </div>

        <div id="Procitane">
            @Html.Partial("_Procitane", Model.Istorija.NaCitanju)
        </div>
        <div id="Preuzete">
            @Html.Partial("_Skinute", Model.Istorija.PreuzeteKnjige)
        </div>
        <div id="Komentari">
            @Html.Partial("_Komentari", Model.Istorija.Komentari)
        </div>
    </div>

</div>
<script type="text/javascript">
    function show(target) {
        $(target).attr('style', 'display:block');
    }

    function hide(target) {
        $(target).attr('style', 'display:none');
    }

    function haha(target, other1, other2, other3) {
        show(target);
        hide(other1);
        hide(other2);
        hide(other3);
    }
</script>
