﻿@model SkolskaBiblioteka.ViewModels.KorisnikZaPrikaz
@{
    ViewBag.Title = "Успешна регисрација";
}

<div class="container">
    <h3>@Model.Username, добродошли. </h3>
    <h3>Успешно сте се регистровали на име @Model.Ime @Model.Prezime .</h3><br/>
    <h4><a href="@Url.Action("Index","Home")">Повратак на почетну страницу.</a></h4>
</div>