﻿@model SkolskaBibliotekaDBContext.Korisnik

@{
    ViewBag.Title = "Register";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container register-page-container">
        <h3>Регистрација или <a href="@Url.Action("Login","Account")">пријава</a></h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.Label("Матични број(ЈМБГ):*", htmlAttributes: new { @class = "control-label col-md-12 profile-info-name" })
            <div class="col-md-12 profile-info-value">
                @Html.EditorFor(model => model.MaticniBroj, new { htmlAttributes = new { @class = "input-streach" } })

            </div>
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.MaticniBroj, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Име:*", htmlAttributes: new { @class = "control-label col-md-12 profile-info-name" })
            <div class="col-md-12 profile-info-value">
                @Html.EditorFor(model => model.Ime, new { htmlAttributes = new { @class = "input-streach" } })

            </div>
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.Ime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Презиме:*", htmlAttributes: new { @class = "control-label col-md-12 profile-info-name" })
            <div class="col-md-12 profile-info-value">
                @Html.EditorFor(model => model.Prezime, new { htmlAttributes = new { @class = "input-streach" } })

            </div>
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.Prezime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Место: ", htmlAttributes: new { @class = "control-label col-md-12 profile-info-name" })
            <div class="col-md-12 profile-info-value">
                @Html.EditorFor(model => model.Mesto, new { htmlAttributes = new { @class = "input-streach" } })

            </div>
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.Mesto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Адреса: ", htmlAttributes: new { @class = "control-label col-md-12 profile-info-name" })
            <div class="col-md-12 profile-info-value">
                @Html.EditorFor(model => model.Adresa, new { htmlAttributes = new { @class = "input-streach" } })

            </div>
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.Adresa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Број телефона: ", htmlAttributes: new { @class = "control-label col-md-12 profile-info-name" })
            <div class="col-md-12 profile-info-value">
                @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "input-streach" } })

            </div>
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Емаил:*", htmlAttributes: new { @class = "control-label col-md-12 profile-info-name" })
            <div class="col-md-12 profile-info-value">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input-streach" } })

            </div>
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Корисничко име:*", htmlAttributes: new { @class = "control-label col-md-12 profile-info-name" })
            <div class="col-md-12 profile-info-value">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "input-streach" } })

            </div>
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Лозинка:*", htmlAttributes: new { @class = "control-label col-md-12 profile-info-name" })
            <div class="col-md-12 profile-info-value">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input-streach" } })

            </div>
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Потврда лозинке:*", htmlAttributes: new { @class = "control-label col-md-12 profile-info-name" })
            <div class="col-md-12 profile-info-value">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "input-streach" } })

            </div>
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12">
                <input type="submit" value="Пријави се" class="btn btn-custom" />
            </div>
        </div>
    </div>
}