﻿@model IEnumerable<SkolskaBibliotekaDBContext.Primerak>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Примерци @Html.ActionLink("Додај", "Create", null, new { @class = "btn btn-default" })</h1>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KnjigaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Povezi.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventarskiBroj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aktivna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Depo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Book", new { area = "Admin", id = item.KnjigaID })">
                    @Html.DisplayFor(modelItem => item.Knjiga.Naziv)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Povezi.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventarskiBroj)
            </td>
            <td>
                @if (item.Aktivna == true)
                {
                    <i class="fa fa-check" aria-hidden="true"></i>
                }
                else
                {
                    <i class="fa fa-times" aria-hidden="true"></i>
                }
            </td>
            <td>
                @if (item.Depo == true)
                {
                    <i class="fa fa-check" aria-hidden="true"></i>
                }
                else
                {
                    <i class="fa fa-times" aria-hidden="true"></i>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarCode)
            </td>
            <td>
                @Html.ActionLink("Измени", "Edit", "Copy", new { id = item.PrimerakID }) |
                @Html.ActionLink("Детаљи", "Details", "Copy", new { id = item.PrimerakID }) |
                @Html.ActionLink("Обриши", "Delete", "Copy", new { id = item.PrimerakID })
            </td>
        </tr>
    }

</table>