﻿@model SkolskaBibliotekaDBContext.Primerak

@{
    ViewBag.Title = "Примерак - Брисање";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Примерак - Брисање</h1>
    </div>
</div>

<h3>Да ли сте сигурни да желите да обришете овај примерак?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Knjiga.UDK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knjiga.UDK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Povezi.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Povezi.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventarskiBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventarskiBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aktivna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aktivna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BarCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Обриши" class="btn btn-default" /> |
            @Html.ActionLink("Назад на листу", "Index")
        </div>
    }
</div>
