﻿@model SkolskaBibliotekaDBContext.Primerak

@{
    ViewBag.Title = "Примерак - Детаљи";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Примерак - Детаљи</h1>
    </div>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Knjiga.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knjiga.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Povezi.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Povezi.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventarskiBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventarskiBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aktivna)
        </dt>

        <dd>
            @if (Model.Aktivna == true)
            {
                <i class="fa fa-check" aria-hidden="true"></i>
            }
            else
            {
                <i class="fa fa-times" aria-hidden="true"></i>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depo)
        </dt>

        <dd>
            @if (Model.Depo == true)
            {
                <i class="fa fa-check" aria-hidden="true"></i>
            }
            else
            {
                <i class="fa fa-times" aria-hidden="true"></i>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BarCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarCode)
        </dd>

    </dl>
</div>

<br />
<h3>Издавање</h3>
<hr />


@using (Html.BeginForm("Create", "OnReading", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.Hidden("primerakId", Model.PrimerakID)
    <div class="form-group">
        <label for="x">Корисничко име:</label>
        @Html.TextBox("username", "", new { @class = "form-control", @placeholder = "user213" })
    </div>
    <button type="submit" class="btn btn-default">Додај на читање</button>
}
<hr />



<p>
    @Html.ActionLink("Измени", "Edit", new { id = Model.PrimerakID }) |
    @Html.ActionLink("Назад на листу", "Index")
</p>
