﻿@model IEnumerable<SkolskaBibliotekaDBContext.Primerak>

@{
    ViewBag.Title = "Претрага примерка";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Претрага примерка</h1>
    </div>
</div>

@using (Html.BeginForm("Search", "Copy", FormMethod.Get, new { @class = "search-form" }))
{
    <div class="col-md-7 form-group row search-div-container">
        @Html.Label("Наслов:", new { @class = "col-md-4 form-control-lable" })
        <div class="col-md-8">
            @Html.TextBox("naziv", "", new { @class = "form-control", @placeholder = "На Дрини ћуприја", @type = "search" })
        </div>
    </div>

    <div class="col-md-7 form-group row">
        @Html.Label("Инвентарски број:", new { @class = "col-md-4 form-control-lable" })
        <div class="col-md-8">
            @Html.TextBox("invbr", "", new { @class = "form-control", @placeholder = "0123456", @type = "search" })
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="col-md-7 form-group row">
        @Html.Label("Бар код:", new { @class = "col-md-4 form-control-lable" })
        <div class="col-md-8">
            @Html.TextBox("barkod", "", new { @class = "form-control", @placeholder = "0123456", @type = "search" })
        </div>
    </div>
    <div style="clear:both;"></div>
    <button type="submit" class="btn btn-default">Претрага</button>
}

<br />
<div style="overflow:auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KnjigaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Povezi.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventarskiBroj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktivna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarCode)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Book", new { area = "Admin", id = item.KnjigaID })">
                        @Html.DisplayFor(modelItem => item.Knjiga.Naziv)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Povezi.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventarskiBroj)
                </td>
                <td>
                    @if (item.Aktivna == true)
                    {
                        <i class="fa fa-check" aria-hidden="true"></i>
                    }
                    else
                    {
                        <i class="fa fa-times" aria-hidden="true"></i>
                    }
                </td>
                <td>
                    @if (item.Depo == true)
                    {
                        <i class="fa fa-check" aria-hidden="true"></i>
                    }
                    else
                    {
                        <i class="fa fa-times" aria-hidden="true"></i>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarCode)
                </td>
                <td>
                    @Html.ActionLink("Погледај", "Details", new { id = item.PrimerakID })
                </td>
            </tr>
        }

    </table>
</div>
<nav>
    <ul class="pagination">
        <li class="@((ViewBag.HasPrevious) ? "" : "disabled")">
            <a href="@Url.Action("Search", "Copy", new { area = "Admin" })?p=@(ViewBag.PageNumber-1))&naziv=@ViewBag.Naziv&invbr=@ViewBag.InvBr&barkod=@ViewBag.InvBr" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (var i = 1; i <= ViewBag.PageCount; i++)
            {
                if (ViewBag.PageNumber == i)
                {
                <li class="active"><a href="@Url.Action("Search", "Copy", new { area = "Admin" })?p=@i&naziv=@ViewBag.Naziv&invbr=@ViewBag.InvBr&barkod=@ViewBag.InvBr">@i <span class="sr-only">(current)</span></a></li>
            }
            else
            {
                <li><a href="@Url.Action("Search", "Copy", new { area = "Admin" })?p=@i&naziv=@ViewBag.Naziv&invbr=@ViewBag.InvBr&barkod=@ViewBag.InvBr">@i</a></li>
            }
        }
        <li class="@((ViewBag.HasNext) ? "" : "disabled")">
            <a href="@Url.Action("Search", "Copy", new { area = "Admin" })?p=@(ViewBag.PageNumber-1)&naziv=@ViewBag.Naziv&invbr=@ViewBag.InvBr&barkod=@ViewBag.InvBr" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
