﻿@model SkolskaBibliotekaDBContext.Autor

@{
    ViewBag.Title = "Аутор - Детаљи";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Аутор - Детаљи</h1>
    </div>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

    </dl>
</div>

@Html.Partial("../Book/Index", Model.Knjiga)

<br />
<p>
    @Html.ActionLink("Измени", "Edit", new { id = Model.AutorID }) |
    @Html.ActionLink("Обриши", "Delete", new { id = Model.AutorID }) |
    @Html.ActionLink("Назад на листу", "Index")
</p>
