﻿@model SkolskaBibliotekaDBContext.Povezi

@{
    ViewBag.Title = "Повез - Детаљи";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Повез - Детаљи</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

    </dl>
</div>

@Html.Partial("../Copy/_CopyList", Model.Primerak)

<br />

<p>
    @Html.ActionLink("Измена", "Edit", new { id = Model.VrstaPovezaID }) |
    @Html.ActionLink("Обриши", "Delete", new { id = Model.VrstaPovezaID }) |
    @Html.ActionLink("Назад на листу", "Index")
</p>
