﻿<li>
    <a href="@Url.Action("Index", "Home", new { area = "", @class="" })"><i class="fa fa-home fa-fw"></i> Почетна</a>
</li>

<li>
    <a href="@Url.Action("Index", "Home", new { area = "Admin", @class="" })"><i class="fa fa-dashboard fa-fw"></i> Командна табла</a>
</li>

<li>
    <a href="#"><i class="fa fa-table fa-fw"></i> Подаци<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">

        <li>
            <a href="#"><i class="fa fa-book" aria-hidden="true"></i> Књиге <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="@Url.Action("Index", "Book", new { area = "Admin" })"><i class="fa fa-database" aria-hidden="true"></i> Све</a>
                </li>
                <li>
                    <a href="@Url.Action("Create", "Book", new { area = "Admin" })"><i class="fa fa-plus" aria-hidden="true"></i> Додај</a>
                </li>
            </ul>
            <!-- /.nav-third-level -->
        </li>

        <li>
            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Аутори <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="@Url.Action("Index", "Author", new { area = "Admin" })"><i class="fa fa-database" aria-hidden="true"></i> Сви</a>
                </li>
                <li>
                    <a href="@Url.Action("Create", "Author", new { area = "Admin" })"><i class="fa fa-plus" aria-hidden="true"></i> Додај</a>
                </li>
            </ul>
            <!-- /.nav-third-level -->
        </li>

        <li>
            <a href="#"><i class="fa fa-university" aria-hidden="true"></i> Издавачи <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="@Url.Action("Index", "Publisher", new { area = "Admin" })"><i class="fa fa-database" aria-hidden="true"></i> Сви</a>
                </li>
                <li>
                    <a href="@Url.Action("Create", "Publisher", new { area = "Admin" })"><i class="fa fa-plus" aria-hidden="true"></i> Додај</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#"><i class="fa fa-tags" aria-hidden="true"></i> Сигнатуре (жанрови) <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="@Url.Action("Index", "Genre", new { area = "Admin" })"><i class="fa fa-database" aria-hidden="true"></i> Све</a>
                </li>
                <li>
                    <a href="@Url.Action("Create", "Genre", new { area = "Admin" })"><i class="fa fa-plus" aria-hidden="true"></i> Додај</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Повези <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="@Url.Action("Index", "Binding", new { area = "Admin" })"><i class="fa fa-database" aria-hidden="true"></i> Све</a>
                </li>
                <li>
                    <a href="@Url.Action("Create", "Binding", new { area = "Admin" })"><i class="fa fa-plus" aria-hidden="true"></i> Додај</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Примерци <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="@Url.Action("Index", "Copy", new { area = "Admin" })"><i class="fa fa-database" aria-hidden="true"></i> Све</a>
                </li>
                <li>
                    <a href="@Url.Action("Create", "Copy", new { area = "Admin" })"><i class="fa fa-plus" aria-hidden="true"></i> Додај</a>
                </li>
            </ul>
        </li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-book fa-fw"></i> На читању<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("Index", "OnReading", new { area = "Admin" })"><i class="fa fa-table" aria-hidden="true"></i> Све</a>
        </li>
        <li>
            <a href="@Url.Action("Late", "OnReading", new { area = "Admin" })"><i class="fa fa-flag" aria-hidden="true"> </i>Кашњења</a>
        </li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-comment" aria-hidden="true"></i> Обавештења<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("Index", "Notification", new { area = "Admin" })"><i class="fa fa-file-text-o" aria-hidden="true"></i> Поруке</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "UserNotification", new { area = "Admin" })"><i class="fa fa-envelope-o" aria-hidden="true"></i> Послате поруке</a>
        </li>
        <li>
            <a href="@Url.Action("Admin", "UserNotification", new { area = "Admin" })"><i class="fa fa-flag" aria-hidden="true"></i> Поруке за админа</a>
        </li>
        <li>
            <a href="@Url.Action("Send", "UserNotification", new { area = "Admin" })"><i class="fa fa-user" aria-hidden="true"></i> Пошаљи</a>
        </li>
        <li>
            <a href="@Url.Action("SendAll", "UserNotification", new { area = "Admin" })"><i class="fa fa-users" aria-hidden="true"> </i>Пошаљи свима</a>
        </li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-user fa-fw"></i> Корисници<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">

        <li>
            <a href="#"><i class="fa fa-database" aria-hidden="true"></i> База <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="@Url.Action("Index", "User", new { area = "Admin" })"><i class="fa fa-table" aria-hidden="true"></i> Сви</a>
                </li>
            </ul>
            <!-- /.nav-third-level -->
        </li>

        <li>
            <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> Коментари <span class="fa arrow"></span></a>
            <!-- /.nav-third-level -->
            <ul class="nav nav-third-level">
                <li>
                    <a href="@Url.Action("Index", "Comment", new { area = "Admin" })"><i class="fa fa-database" aria-hidden="true"></i> Сви</a>
                </li>
                <li>
                    <a href="@Url.Action("Reported", "Comment", new { area = "Admin" })"><i class="fa fa-flag" aria-hidden="true"></i> Пријављени</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Резервације <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="@Url.Action("Index", "Reservation", new { area = "Admin" })"><i class="fa fa-database" aria-hidden="true"></i> Све</a>
                </li>
                <li>
                    <a href="@Url.Action("Active", "Reservation", new { area = "Admin" })"><i class="fa fa-bolt" aria-hidden="true"></i> Активне</a>
                </li>
                <li>
                    <a href="@Url.Action("Inactive", "Reservation", new { area = "Admin" })"><i class="fa fa-ban" aria-hidden="true"></i> Неактивне</a>
                </li>
            </ul>
        </li>
    </ul>
</li>

