﻿@using SkolskaBiblioteka.ViewModels
@using SkolskaBibliotekaDBContext

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eBiblioteka Admin - @ViewBag.Title</title>
    
    <link href="~/Content/admin.css" rel="stylesheet">
    @Styles.Render("~/Content/themes/css")

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/ico" href="~/Images/favicon.ico">

    <!-- MetisMenu CSS -->
    <link href="~/Content/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="~/Content/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Content/morris.css" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>

    
</head>

<body>
    @{ 
        KorisnikZaPrikaz user = (KorisnikZaPrikaz)Session["Korisnik"];

        if (user == null)
        {
            var k = new SkolskaBibliotekaDBModel().Korisnik.FirstOrDefault(x => x.Username == User.Identity.Name);
            user = new KorisnikZaPrikaz(k);
            Session["Korisnik"] = user;
        }
    }

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "Admin" })">eBiblioteka v1.0 by TeslaIKT</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> @user.Ime @user.Prezime <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="@Url.Action("Profile", "Account", new { area = ""})"><i class="fa fa-user fa-fw"></i> Кориснички профил</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "Account", new { area = "" })"><i class="fa fa-gear fa-fw"></i> Подешавања</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout", "Account", new { area = "" })"><i class="fa fa-sign-out fa-fw"></i> Одјави се</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        @Html.Partial("_AdminMenu")
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Scripts/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/sb-admin-2.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>

    <script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#naziv').autocomplete({
            source: '@Url.Action("AutocompleteNaslov")'
        });
    });
    $(document).ready(function () {
        $('#invbr').autocomplete({
            source: '@Url.Action("AutocompleteInv")'
        });
    });
    $(document).ready(function () {
        $('#barkod').autocomplete({
            source: '@Url.Action("AutocompleteBarkod")'
        });
    });
    </script>

</body>

</html>
