﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ШБ - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <div class="menubar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="home-logo">
                    <a href="@Url.Action("Index", "Home")"> <img src="~/Images/home-logo.png" height="40" /></a> @*Promeniti logo*@
                </div>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav menu">

                    @if (ViewBag.Current == "Index")
                    {
                        <li class="active"><a href="@Url.Action("Index","Home")">Почетна</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index","Home")">Почетна</a></li>
                    }

                    @if (ViewBag.Current == "About")
                    {
                        <li class="active"><a href="@Url.Action("About","Home")">О нама</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("About","Home")">О нама</a></li>
                    }

                    @if (ViewBag.Current == "Search")
                    {
                        <li class="active"><a href="@Url.Action("Search","Home")">Претрага</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Search","Home")">Претрага</a></li>
                    }

                    @if (ViewBag.Current == "Reserve")
                    {
                        <li class="active"><a href="@Url.Action("Reserve","Home")">Резервација</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Reserve","Home")">Резервација</a></li>
                    }
                    @Html.Partial("_LoginPartial")
                </ul>


            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <footer>
            <div class="footer-bottom">
                <div class="container">

                    <div class="footer-container-top">

                        <div class="footer-content">

                            <div class="footer-field">

                                <img class="footer-field-image" src="~/Images/lokacija.png" />
                                <div class="footer-field-top">ЛОКАЦИЈА</div>
                                <div class="footer-field-bottom">Александра Медведева 18, Ниш, Србија</div>

                            </div>

                            <div class="footer-field">

                                <img class="footer-field-image" src="~/Images/email.png" />
                                <div class="footer-field-top">ЕМАИЛ</div>
                                <div class="footer-field-bottom">ebib@etstesla.ni.ac.rs</div>

                            </div>

                            <div class="footer-field">

                                <img class="footer-field-image kontakt" src="~/Images/telefon.png" />
                                <div class="footer-field-top">ТЕЛЕФОН</div>
                                <div class="footer-field-bottom">018 588 583</div>

                            </div>
                            <div style="clear:both;"></div>
                        </div>

                        <div class="footer-navigation">
                            <div class="subtitle">Навигација</div>
                            <ul>
                                <li><a href="@Url.Action("Index","Home")">Почетна</a></li>

                                <li><a href="@Url.Action("About","Home")">О нама</a></li>

                                <li><a href="@Url.Action("Search","Home")">Претрага</a></li>

                                <li><a href="@Url.Action("Reserve","Home")">Резервација</a></li>

                                @if (!Request.IsAuthenticated)
                                {
                                    <li><a href="@Url.Action("Login", "Account")">Пријава</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Profile", "Account")">@User.Identity.Name</a></li>
                                    <li><a href="@Url.Action("Logout", "Account")">Одјава</a></li>
                                }
                            </ul>
                        </div>

                        <div class="footer-subscribe">

                            <div class="footer-event-white">Желите да будете у току са дешавањима у</div>
                            <div style="clear:both;"></div>
                            <div class="footer-event-orange">школској библиотеци?</div>
                            <div style="clear:both;"></div>
                            <div class="input-button-container">
                                <input class="footer-subscribe-input" placeholder="Емаил" />
                                <button class="footer-subscribe-button">ПОШЉИ</button>
                            </div>

                        </div>

                        

                        <div style="clear:both;"></div>
                    </div>

                    <div style="clear:both;"></div>

                    <div class="footer-container-bottom">
                        <div class="footer-content-left copyright">
                            <p>&copy; @DateTime.Now.Year <a href="http://www.etstesla.ni.ac.rs">ЕТШ "Никола Тесла"</a>. Сва права задржана.</p>
                            <p>Дизајнирано од ❤ <a class="item" data-hover="и Дарко">моо</a>.</p>
                        </div>
                        <div class="footer-content-right">
                            <a href="#top" class="go-top">
                                <span class="glyphicon glyphicon-chevron-up"></span> Врх странице
                            </a>
                        </div>
                        <div style="clear:both;"></div>
                    </div>

                </div>


            </div>

        </footer>
    </div>

    <script>
        $("a[href='#top']").click(function () {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
